@import 'partials/variables'
@import 'partials/base'

body
    overflow: hidden
    
menu
    height: auto
    width: auto
    position: relative

.menu_block
    position: absolute
    left: 0
    height: 100%
    width: $menu_block-width
    display: inline-block
    transition: 0.4s transform
    background-size: contain
    font-size: 0
    opacity: 0.2
    float: left
    overflow: hidden
    
.menu_block_mobile
    position: relative
    width: 100%
    opacity: 1
    left: 0 !important
    & .section_header
        font-size: 20px !important

    
.menu_block a
    position: absolute
    display: block
    top: 0
    left: 0
    right: 0
    bottom: 0
    text-decoration: none
    

.menu_block span.section_header
    text-align: center
    margin-top: 600px
    display: block
    font-weight: 400
    letter-spacing: 1px
    font-family: Neue
    font-size: 28px
    color: $black
    transition: 0.4s
    
    
.menu_block-soaring_balls_syndicate
    left: -10%
    background-image: url(../../images/ballhead.jpg)
    background-position: center
    background-size: cover

.menu_block-ballride_style
    left: $menu_block-width - 10%
    background-image: url(../../images/soon.jpg)
    background-position: center
    background-size: cover

    
.menu_block-ballriders_creative_group
    left: $menu_block-width + 30%
    background-image: url(../../images/soon_cg.jpg)
    background-position: center
    background-size: cover
    
.menu_block-selected
    opacity: 1
    
#vid
    height: 100%
    position: absolute
    bottom: 0
    left: 50%
    margin-left: -580px
    
.coming_soon
    text-align: center
    & img
        width: 90%
    & a:after
        content: ' (Coming on October 27)'
        width: 100%
        display: inline-block
        text-align: center
        text-transform: none
        font-size: 16px
        color: $coming_soon
        margin-top: 5px
    
#eventcatalogWidget
    opacity: 0
    & a:after
        content: none
    pointer-events: none