@import 'partials/variables'
@import 'partials/base'

body
    overflow: hidden
    
menu
    height: auto
    width: auto
    position: relative

.menu_block
    position: absolute
    left: 0
    height: 100%
    width: $menu_block-width
    display: inline-block
    transition: 0.4s transform
    background-color: black
    background-position: center
    background-size: contain
    background-repeat: no-repeat
    font-size: 0
    opacity: 0.3
    float: left
    overflow: visible

.menu_block a
    position: absolute
    display: block
    top: 0
    left: 0
    right: 0
    bottom: 0
    text-decoration: none
    

.menu_block span.section_header
    text-align: center
    position: absolute
    bottom: 5%
    display: block
    width: 100%
    font-weight: 400
    letter-spacing: 1px
    font-family: Neue
    font-size: 21px
    color: $white
    &:before
        content: '- '
    &:after
        content: ' -'
    
.menu_block-description
    width: 100%
    box-sizing: border-box
    padding: 0 10%
    font-size: 16px
    font-family: Neue
    font-weight: 400
    text-align: center
    position: absolute
    letter-spacing: 0.5px
    top: 5%
    color: $white
    
    
.menu_block-soaring_balls_syndicate
    left: $menu_block-width - 10%
    background-image: url(../images/mid.png)

.menu_block-ballride_style
    left: -10%
    background-image: url(../images/left.png)

    
.menu_block-ballriders_creative_group
    left: $menu_block-width + 30%
    background-image: url(../images/right.png)
    
.menu_block-selected
    opacity: 1
    
.menu_block_mobile
    position: relative
    width: 33.3%
    left: 0
    overflow: hidden
    
    
#eventcatalogWidget
    opacity: 0
    & a:after
        content: none
    pointer-events: none
    
@media (max-width: 768px)
    .menu_block span.section_header
        font-size: 14px
        padding: 0 10px
        box-sizing: border-box
        &:after
            content: ''
        &:before
            content: '-----------'
            display: block
            margin-bottom: 5px
    .menu_block-description
        font-size: 11px
    