@import '../partials/variables'
@import '../partials/base'
@import '../layout/topside_menu_mobile'

.menu_big
    position: fixed
    width: 100%
    height: 100%
    top: 0
    left: 0
    background-image: url(../../images/grain.jpg)
    background-repeat: repeat
    background-position: 0 0
    -webkit-animation: noiseAnim 0.5s infinite linear alternate
    -moz-animation: noiseAnim 0.5s infinite linear alternate
    -o-animation: noiseAnim 0.5s infinite linear alternate
    animation: noiseAnim 0.5s infinite linear alternate
    opacity: 0
    text-align: center
    z-index: -100
    transition: 0.4s

.menu_big_list
    display: inline-block
    position: absolute
    width: 300px
    top: 50%
    margin-top: -210px
    left: 50%
    margin-left: -150px

.color1
    color: #eaff00

.color2
    color: #dafe14
     
.color3
    color: #c4fd2f

.color4
    color: #aafc50
        
.color5
    color: #85fa7d
    
.color6
    color: #5fe8ad

.color7
    color: #5ef8d2

.menu_big_item
    margin-top: 30px

.menu_big_item_link
    text-decoration: underline
    font-size: 20px
    font-weight: 100
    text-transform: uppercase
    text-align: justify
    display: inline-block
    width: 100%
    &:hover
        text-decoration: line-through
    &:after
        content: ""
        display: inline-block
        width: 100%

.on
    opacity: 1
    z-index: 9999
    
.menu_big_toggle
    position: absolute
    display: inline-block
    right: 15px
    top: 15px
    width: 60px
    height: 60px
    z-index: 1000
    background-repeat: no-repeat
    background-size: contain
    background-image: url(../../images/menu_open.svg)
    background-position: center
    cursor: pointer
    
.menu_big_toggle_black
    position: absolute
    display: inline-block
    right: 15px
    top: 15px
    width: 60px
    height: 60px
    z-index: 1000
    background-repeat: no-repeat
    background-size: contain
    background-image: url(../../images/menu_open_black.svg)
    background-position: center
    cursor: pointer

.menu_close
    background-image: url(../../images/menu_close.svg)
    right: 15px
    top: 15px
    position: absolute
    display: inline-block
    height: 60px
    width: 60px
    background-size: contain
    background-repeat: no-repeat
    background-position: center
    cursor: pointer
    z-index: 1000
    
.section_svg
    width: 100%
    height: 100%

#home_section
    position: relative
    height: $section_height
    width: 100%
    background-color: transparent
    text-align: center
    & .arrow_pure
        position: absolute
        bottom: 0
        left: 50%
        margin-left: -34px

.circle_wrapper
    position: relative
    width: 100%
    height: 100%
    
.circle
    position: absolute
    top: 10%
    width: 100%
    height: 80%
    text-align: center

.logotype
    padding-left: 15px
    margin-bottom: 50px
    text-align: center

.logotype_image
    width: 40px
    
.arrow_pure
    cursor: pointer
    height: 10%
    display: inline-block
    & img
        height: 100%
    
#works_section
    position: relative
    width: 100%
    height: $section_height
    background-color: transparent
    text-align: center

#clients_section
    width: 100%
    position: relative
    height: $section_height
    background: linear-gradient(-124deg, #eaff00 0%, #7afa8b 100%)
    text-align: center

@-webkit-keyframes noiseAnim
    0%   
        background-position: 10px 200px
    20% 
        background-position: -50px 0
    40% 
        background-position: 100px -10px
    60% 
        background-position: 0 -150px
    80% 
        background-position: -100px -30px
    100% 
        background-position: 160px -60px
    
@-moz-keyframes noiseAnim
    0%   
        background-position: 10px 200px
    20% 
        background-position: -50px 0
    40% 
        background-position: 100px -10px
    60% 
        background-position: 0 -150px
    80% 
        background-position: -100px -30px
    100% 
        background-position: 160px -60px

@-o-keyframes noiseAnim
    0%   
        background-position: 10px 200px
    20% 
        background-position: -50px 0
    40% 
        background-position: 100px -10px
    60% 
        background-position: 0 -150px
    80% 
        background-position: -100px -30px
    100% 
        background-position: 160px -60px
    
@keyframes noiseAnim
    0%   
        background-position: 10px 200px
    20% 
        background-position: -50px 0
    40% 
        background-position: 100px -10px
    60% 
        background-position: 0 -150px
    80% 
        background-position: -100px -30px
    100% 
        background-position: 160px -60px

#about_section
    width: 100%
    height: $section_height
    position: relative
    height: $section_height
    background-color: black
    background-image: url(../../images/IMG_0555.JPG)
    background-size: cover
    background-position: 40px 0
    
.about_text_wrapper
    font-size: 23px
    color: $white
    text-align: center
    margin: 0 auto
    font-family: proxima-nova-light
    text-transform: uppercase
    line-height: 40px
    letter-spacing: 3px
    padding: 0 15px
    box-sizing: border-box
    position: absolute
    top: 50%
    margin-top: -220px
    width: 100%

#service_section
    width: 100%
    position: relative
    height: $section_height
    background-color: black
    text-align: center
    background-image: url(../../images/grain.jpg)
    background-repeat: repeat
    background-position: 0 0
    -webkit-animation: noiseAnim 0.5s infinite linear alternate
    -moz-animation: noiseAnim 0.5s infinite linear alternate
    -o-animation: noiseAnim 0.5s infinite linear alternate
    animation: noiseAnim 0.5s infinite linear alternate
    
.instagram_link
    width: 400px
    height: auto
    color: white
    font-family: proxima-nova-bold
    position: absolute
    top: 88%
    right: 25px
    z-index: 1000
    text-align: center
    & img
        width: 20px
        margin: 12.5px
        display: inline-block
        vertical-align: middle
    & .text
        width: 300px
        display: inline-block
        font-size: 12px
        vertical-align: middle
    
#contact_section
    width: 100%
    position: relative
    height: $section_height
    background-color: transparent
    text-align: center
        
.link_wrapper
    display: inline-block
    height: 100%
    width: 100%
    text-decoration: none
    color: $black
    &:hover
        color: $darkGray + 20
    
.hitmebaby
    position: relative
    display: block
    top: 30%
    width: 100%
    height: 300px
    background-color: transparent

@media(max-width: 600px)
    .menu_big_list
        margin-top: -165px
    .menu_big_item
        margin-top: 15px
    .about_text_wrapper
        font-size: 15px
        margin-top: -195px
        line-height: 30px
    .instagram_link
        width: 100%
        right: 0
        
@media(max-width: 400px)
    .menu_big_list
        width: 240px
        margin-left: -120px
    .about_text_wrapper
        margin-top: -175px
        line-height: 25px
    .instagram_link
        width: 80%
        top: 78%
        margin: 0 10%
        & .text
            width: 100%