@import '../partials/variables'
@import '../partials/base'
@import '../layout/topside_menu'

$section_height: 700px

.menu_big
    position: fixed
    width: 100%
    height: 100%
    top: 0
    left: 0
    background-image: url(../../images/grain.jpg)
    background-repeat: repeat
    background-position: 0 0
    -webkit-animation: noiseAnim 0.5s infinite linear alternate
    -moz-animation: noiseAnim 0.5s infinite linear alternate
    -o-animation: noiseAnim 0.5s infinite linear alternate
    animation: noiseAnim 0.5s infinite linear alternate
    opacity: 0
    text-align: center
    z-index: -100

.menu_big_list
    display: inline-block
    position: relative

.color1
    color: #eaff00

.color2
    color: #dafe14
     
.color3
    color: #c4fd2f

.color4
    color: #aafc50
        
.color5
    color: #85fa7d
    
.color6
    color: #5fe8ad

.color7
    color: #5ef8d2

.menu_big_item
    margin-top: 40px

.menu_big_item_link
    text-decoration: underline
    font-size: 30px
    font-weight: 100
    &:hover
        text-decoration: line-through

.on
    opacity: 1
    z-index: 9999
    
.menu_big_toggle
    position: fixed
    display: inline-block
    right: 30px
    top: 20px
    width: 30px
    height: 30px
    z-index: 99999
    background-repeat: no-repeat
    background-size: contain
    background-image: url(../../images/menu_open.svg)
    background-position: center
    cursor: pointer

.menu_close
    background-image: url(../../images/menu_close.svg)
    right: 40px
    top: 20px
    position: absolute
    display: inline-block
    height: 35px
    width: 35px
    background-size: contain
    background-repeat: no-repeat
    background-position: center
    cursor: pointer

#home
    position: relative
    height: $section_height
    width: auto
    text-align: center
    & .circle_wrapper
        padding-top: 0

.circle_wrapper
    width: 100%
    padding: 75px 20px
    box-sizing: border-box
        
.circle
    position: relative
    width: 100%
    height: 550px
    text-align: center
    background: url(../../images/green_circle.svg) no-repeat center
    font-weight: 100
    
.logotype
    padding-top: 100px
    padding-left: 15px
    margin-bottom: 50px
    text-align: center

.logotype_image
    width: 40px
    
.label_big
    font-size: 18px
    text-transform: uppercase
    letter-spacing: 2px
    margin-bottom: 15px

.section_title_thin
    letter-spacing: 4px
    font-size: 90px
    text-transform: uppercase
    margin: 0
    margin-bottom: 25px
    
.section_title_thick
    letter-spacing: 25px
    font-size: 90px
    text-transform: uppercase
    margin: 0
    margin-bottom: 25px

.label_small
    font-size: 12px
    letter-spacing: 1.5px
    margin-top: 35px

.copyright:before
    content: '\00a9'
    
.arrow_down_pure
    cursor: pointer
    padding: 5px
    
.circle_white
    position: relative
    width: 100%
    height: 550px
    text-align: center
    background: url(../../images/white_circle.svg) no-repeat center
    font-weight: 100
    
.clients_text
    width: 50%
    margin: 60px auto 0
    font-size: 13px

.clients_text_row
    display: inline-block
    text-align: justify
    width: 100%
    line-height: 1.5
    letter-spacing: 3px

.clients_text_row:after
    content: ""
    display: inline-block
    width: 100%
   
.circle_black
    position: relative
    width: 100%
    height: 550px
    text-align: center
    background: url(../../images/green_circle_black.svg) no-repeat center
    font-weight: 100
    
.service_text
    color: $white
    display: inline-block
    font-size: 14px

.service_text_row
    margin-bottom: 16px
    letter-spacing: 2px

#intro
    width: 100%
    height: auto
    position: relative
    
#intro1
    width: 100%
    height: $section_height
    background-color: black
    
#intro2
    width: 100%
    height: $section_height
    background-image: url(../../images/grain.jpg)
    background-repeat: repeat
    background-position: 0 0
    -webkit-animation: noiseAnim 0.5s infinite linear alternate
    -moz-animation: noiseAnim 0.5s infinite linear alternate
    -o-animation: noiseAnim 0.5s infinite linear alternate
    animation: noiseAnim 0.5s infinite linear alternate

#works
    position: relative
    width: 100%
    height: $section_height
    background-color: $white
    text-align: center

#clients
    width: 100%
    position: relative
    height: $section_height
    background: linear-gradient(-124deg, #eaff00 0%, #7afa8b 100%)
    text-align: center

@-webkit-keyframes noiseAnim
    0%   
        background-position: 10px 200px
    20% 
        background-position: -50px 0
    40% 
        background-position: 100px -10px
    60% 
        background-position: 0 -150px
    80% 
        background-position: -100px -30px
    100% 
        background-position: 160px -60px
    
@-moz-keyframes noiseAnim
    0%   
        background-position: 10px 200px
    20% 
        background-position: -50px 0
    40% 
        background-position: 100px -10px
    60% 
        background-position: 0 -150px
    80% 
        background-position: -100px -30px
    100% 
        background-position: 160px -60px

@-o-keyframes noiseAnim
    0%   
        background-position: 10px 200px
    20% 
        background-position: -50px 0
    40% 
        background-position: 100px -10px
    60% 
        background-position: 0 -150px
    80% 
        background-position: -100px -30px
    100% 
        background-position: 160px -60px
    
@keyframes noiseAnim
    0%   
        background-position: 10px 200px
    20% 
        background-position: -50px 0
    40% 
        background-position: 100px -10px
    60% 
        background-position: 0 -150px
    80% 
        background-position: -100px -30px
    100% 
        background-position: 160px -60px

#about
    width: 100%
    height: $section_height
    position: relative
    height: $section_height
    background-color: black

#service
    width: 100%
    position: relative
    height: $section_height
    background-color: black
    text-align: center
    background-image: url(../../images/grain.jpg)
    background-repeat: repeat
    background-position: 0 0
    -webkit-animation: noiseAnim 0.5s infinite linear alternate
    -moz-animation: noiseAnim 0.5s infinite linear alternate
    -o-animation: noiseAnim 0.5s infinite linear alternate
    animation: noiseAnim 0.5s infinite linear alternate
    
#contact
    width: 100%
    position: relative
    height: $section_height
    background-color: $white
    text-align: center
        
.link_wrapper
    display: inline-block
    height: 100%
    width: 100%
    text-decoration: none
    color: $black
    &:hover
        color: $darkGray + 20
