@import '../partials/variables'
@import '../partials/base'
@import '../layout/topside_menu_mobile'

body
    overflow-x: hidden
    
.loader_area
    position: fixed
    z-index: 100000
    left: 0
    top: 0
    bottom: 0
    right: 0
    background-color: $white
    
.loader
    width: 50px
    position: absolute
    left: 50%
    margin-left: -25px
    top: -140px
    
.loader
    animation: animate 1.2s infinite linear
 
@keyframes animate
    0%
        transform: translateY(0px)
    100%
        transform: translateY(1000px)

.menu_big
    position: fixed
    width: 100%
    height: 100%
    top: 0
    left: 0
    background-image: url(../../images/grain.jpg)
    background-repeat: repeat
    background-position: 0 0
    -webkit-animation: noiseAnim 0.5s infinite linear alternate
    -moz-animation: noiseAnim 0.5s infinite linear alternate
    -o-animation: noiseAnim 0.5s infinite linear alternate
    animation: noiseAnim 0.5s infinite linear alternate
    opacity: 0
    text-align: center
    z-index: -100
    transition: 0.4s

.menu_big_list
    display: inline-block
    position: absolute
    width: 300px
    top: 50%
    margin-top: -210px
    left: 50%
    margin-left: -150px

.drop
    width: 50px
    position: absolute
    left: 50%
    margin-left: -25px
    bottom: -25px
    z-index: 1000

.color2
    color: #3EB5F1
     
.color3
    color: #409EDB

.color4
    color: #4581C3
        
.color5
    color: #4874B8
    
.color6
    color: #496BB0

.color7
    color: #4D59A1

.menu_big_item
    margin-top: 30px

.menu_big_item_link
    text-decoration: underline
    font-size: 20px
    font-weight: 100
    text-transform: uppercase
    text-align: justify
    display: inline-block
    width: 100%
    &:hover
        text-decoration: line-through
    &:after
        content: ""
        display: inline-block
        width: 100%

.on
    opacity: 1
    z-index: 9999
    
.menu_big_toggle_black
    position: fixed
    display: inline-block
    right: 15px
    top: 15px
    width: 60px
    height: 60px
    z-index: 1000
    background-repeat: no-repeat
    background-size: contain
    background-image: url(../../images/menu_open_black.svg)
    background-position: center
    cursor: pointer

.menu_close
    background-image: url(../../images/menu_close.svg)
    right: 15px
    top: 15px
    position: absolute
    display: inline-block
    height: 60px
    width: 60px
    background-size: contain
    background-repeat: no-repeat
    background-position: center
    cursor: pointer
    z-index: 1000
    
.title_label
    font-size: 24px
    font-family: proxima-nova-light
    text-transform: uppercase
    position: absolute
    top: 36%
    width: 100%
    letter-spacing: 1px
    text-align: center
    box-sizing: border-box
    
    
.section_title
    font-size: 85px
    font-family: proxima-nova
    text-transform: uppercase
    position: absolute
    top: 42.5%
    width: 100%
    letter-spacing: 25px
    text-align: center
    box-sizing: border-box
    
.section_cta
    position: absolute
    top: 75%
    left: 50%
    margin-left: -105px
    font-size: 18px
    font-family: proxima-nova-bold
    border: 4px solid $black
    width: 211px
    height: 58px
    border-radius: 100px
    background: $white
    text-transform: uppercase
    padding: 15px 5px
    box-sizing: border-box
    text-decoration: none
    color: $black
    transition: 0.3s
    &:hover
        background: #aafc50
        cursor: pointer
    
.lang_change
    position: absolute
    top: 35px
    left: 50%
    margin-left: -11px
    font-family: proxima-nova-bold
    z-index: 1000
    text-decoration: none
    color: $black
    &:hover
        text-decoration: underline

#home_section
    position: relative
    width: 100%
    background-color: $white
    text-align: center
    & .arrow_pure
        cursor: auto
        position: absolute
        font-size: 12px
        bottom: -20px
        left: 50%
        margin-left: -30px

.circle_wrapper
    position: relative
    width: 100%
    height: 100%
    
.circle
    position: absolute
    top: 10%
    width: 100%
    height: 80%
    text-align: center
    background-image: url(../../images/soaring_balls_syndicate/intro_new.svg)
    background-size: contain
    background-repeat: no-repeat
    background-position: center

.circle2
    position: absolute
    top: 10%
    width: 100%
    height: 80%
    text-align: center
    background-size: contain
    background-repeat: no-repeat
    background-position: center
    background-image: url(../../images/soaring_balls_syndicate/clients_new.svg)
    & .section_title
        top: 20%
        letter-spacing: 50px
        padding-left: 25px

        
.circle3
    position: absolute
    top: 10%
    width: 100%
    height: 80%
    text-align: center
    background-size: contain
    background-repeat: no-repeat
    background-position: center
    background-image: url(../../images/soaring_balls_syndicate/service_new.svg)
    & .section_title
        top: 20%
        letter-spacing: 50px
        padding-left: 25px
        color: $white

    
.arrow_pure
    cursor: pointer
    height: 10%
    display: inline-block
    
#works_section
    position: relative
    width: 100%
    background-color: $white
    text-align: center

#clients_section
    width: 100%
    position: relative
    background: linear-gradient(-124deg, #3EB5F1 0%, #4D59A1 100%)
    text-align: center

.clients_text
    position: absolute
    top: 50%
    width: 100%
    text-align: center
    
.clients_row
    text-align: justify
    display: inline-block
    width: 70%
    font-family: proxima-nova-light
    font-size: 18px
    letter-spacing: 6px
    line-height: 28px
    &:after
        content: ''
        display: inline-block
        width: 100%

.bold
    font-family: proxima-nova-bold
    display: inline
    
.lg-only
    display: inline
    
@-webkit-keyframes noiseAnim
    0%   
        background-position: 10px 200px
    20% 
        background-position: -50px 0
    40% 
        background-position: 100px -10px
    60% 
        background-position: 0 -150px
    80% 
        background-position: -100px -30px
    100% 
        background-position: 160px -60px
    
@-moz-keyframes noiseAnim
    0%   
        background-position: 10px 200px
    20% 
        background-position: -50px 0
    40% 
        background-position: 100px -10px
    60% 
        background-position: 0 -150px
    80% 
        background-position: -100px -30px
    100% 
        background-position: 160px -60px

@-o-keyframes noiseAnim
    0%   
        background-position: 10px 200px
    20% 
        background-position: -50px 0
    40% 
        background-position: 100px -10px
    60% 
        background-position: 0 -150px
    80% 
        background-position: -100px -30px
    100% 
        background-position: 160px -60px
    
@keyframes noiseAnim
    0%   
        background-position: 10px 200px
    20% 
        background-position: -50px 0
    40% 
        background-position: 100px -10px
    60% 
        background-position: 0 -150px
    80% 
        background-position: -100px -30px
    100% 
        background-position: 160px -60px

#about_section
    width: 100%
    position: relative
    background-image: url(../../images/IMG_0555.JPG)
    background-size: cover
    background-position: right
    
.about_text_wrapper
    font-size: 23px
    color: $white
    text-align: center
    margin: 0 auto
    font-family: proxima-nova-light
    text-transform: uppercase
    line-height: 40px
    letter-spacing: 3px
    padding: 0 15px
    box-sizing: border-box
    position: absolute
    top: 50%
    margin-top: -220px
    width: 100%

#service_section
    width: 100%
    position: relative
    background-color: black
    text-align: center
    background-image: url(../../images/grain.jpg)
    background-repeat: repeat
    background-position: 0 0
    -webkit-animation: noiseAnim 0.5s infinite linear alternate
    -moz-animation: noiseAnim 0.5s infinite linear alternate
    -o-animation: noiseAnim 0.5s infinite linear alternate
    animation: noiseAnim 0.5s infinite linear alternate
    
.service_text
    position: absolute
    top: 45%
    width: 100%
    text-align: center

.service_row
    text-align: justify
    text-align: center
    display: inline-block
    width: 80%
    font-family: proxima-nova
    font-size: 21px
    letter-spacing: 2px
    line-height: 60px
    color: $white
    
.instagram_link
    width: 300px
    height: auto
    color: white
    font-family: proxima-nova-bold
    position: absolute
    top: 92%
    right: 25px
    z-index: 1000
    text-align: center
    & img
        width: 20px
        margin: 12.5px
        display: inline-block
        vertical-align: middle
    & .text
        width: 200px
        display: inline-block
        font-size: 12px
        vertical-align: middle
    
#contact_section
    width: 100%
    position: relative
    background-color: $white
    text-align: center
        
.link_wrapper
    display: inline-block
    height: 100%
    width: 100%
    text-decoration: none
    color: $black
    &:hover
        color: $darkGray + 20
    
@media(max-width: 1110px)
    .clients_row
        letter-spacing: 4px
        font-size: 16px
        width: 85%
        line-height: 25px
    
@media(max-width: 790px)
    .section_title
        font-size: 40px
        top: 47%
        letter-spacing: 20px !important
        padding-left: 10px !important
    .title_label
        font-size: 18px
        top: 39%
    .clients_row
        letter-spacing: 3px
        font-size: 15px
        width: 90%
        line-height: 20px
    .lg-only
        display: none
    
@media(max-width: 600px)
    .menu_big_list
        margin-top: -165px
    .menu_big_item
        margin-top: 15px
    .about_text_wrapper
        font-size: 15px
        margin-top: -195px
        line-height: 30px
    .instagram_link
        width: 100%
        right: 0
    #home_section .arrow_pure
        bottom: 0
    .section_cta
        font-size: 14px
        height: 46px
        width: 168px
        margin-left: -84px
        padding: 14px 5px
        top: 60%
        border-width: 2px
    .clients_row
        letter-spacing: 2px
        font-size: 14px
        width: 100%
    .section_title
        font-size: 25px
        letter-spacing: 14px !important
        padding-left: 7px !important
        top: 48.5%
    .title_label
        font-size: 14px
        top: 42%
    .circle2 .section_title
        top: 30%
    .circle3 .section_title
        top: 30%
    .service_row
        font-size: 16px
        letter-spacing: 1px
        line-height: 48px
        
@media(max-width: 400px)
    .menu_big_list
        width: 240px
        margin-left: -120px
    .about_text_wrapper
        margin-top: -175px
        line-height: 25px
    .instagram_link
        width: 80%
        top: 78%
        margin: 0 10%
        & .text
            width: 100%
    .section_cta
        font-size: 12px
        height: 37px
        width: 134px
        margin-left: -67px
        padding: 11px 5px
        top: 57%
        border-width: 2px
    .circle2 .section_title
        top: 35%
    .circle3 .section_title
        top: 35%
    .service_row
        font-size: 14px
        letter-spacing: 0.5px
        line-height: 35px