extends layout

block head
    link(rel="stylesheet", href="stylesheets/index.css")
    
block main
    div.text-developing 
      h1 - currently working on something special -

block js
    script(src="javascripts/index.js")