extends layout

block head
  link(rel='stylesheet', href='/stylesheets/main.css')
block main
  .menu_block.menu_block-soaring_balls_syndicate
    a(href="soaring_balls_syndicate")
      span.section_header Soaring Balls Syndicate
      video(src="images/yo.mov" width="100%")
  .menu_block.menu_block-ballride_style.menu_block-selected
    a(href="ballride_style")
      span.section_header Ballride Style
  .menu_block.menu_block-ballriders_creative_group
    a(href="ballriders_creative_group")
      span.section_header Ballriders Creative Group
block js
    script(src="/javascripts/main.js")