extends layout

block head
  link(rel='stylesheet', href='/stylesheets/main.css')
  script(src="/javascripts/main.js")
block main
  .menu_block.menu_block-soaring_balls_syndicate
    a(href="soaring_balls_syndicate")
      video(src="images/yo.mov" width="100%")
      span.section_header soaring balls syndicate
  .menu_block.menu_block-ballride_style.menu_block-selected
    a(href="ballride_style")
      span.section_header ballride style
  .menu_block.menu_block-ballriders_creative_group
    a(href="ballriders_creative_group")
      video(src="images/yo.mov" width="100%")
      span.section_header ballriders creative group
