extends layout

block head
  meta(name="keywords" content="freestyle basketball soaring balls syndicate ballride style ballriders creative group баскетбольный фристайл")
  meta(name="description" content="Discover Ballride Style and find out more about Soaring Balls Syndicate and Ballriders Creative Group")
  link(rel='stylesheet', href='/stylesheets/main.css')
block main
  .menu_block.menu_block-soaring_balls_syndicate
    video#vid
        source(src="images/u.mov" type="video/mp4")
    a(href="soaring_balls_syndicate")
      span.section_header - Soaring Balls Syndicate -
  .menu_block.menu_block-ballride_style.menu_block-selected.coming_soon
    img(src="images/soon.svg", alt="")
    a()
      span.section_header - Ballride Style -
  .menu_block.menu_block-ballriders_creative_group.coming_soon
    img(src="images/soon.svg", alt="")
    a()
      span.section_header - Ballriders Creative Group -
block js
    script(src="/javascripts/main.js")