.topside_menu_mobile
    .topside_menu_mobile_close
    ul.topside_menu_mobile_list
        li.topside_menu_mobile_list_item
            a.topside_menu_mobile_list_item_link(href="/Soaring_Balls_Syndicate") - Soaring Balls Syndicate -
        li.topside_menu_mobile_list_item
            a.topside_menu_mobile_list_item_link(href="/Ballride_Style") - Ballride Style -
        li.topside_menu_mobile_list_item.coming_soon
            a.topside_menu_mobile_list_item_link(href="/Ballriders_Creative_Group") - Ballriders Creative Group -