.menu_wrapper
    ul.menu
        li.menu_items
          a(href="Soaring_Balls_Syndicate") - Soaring Balls Syndicate -
        li.menu_items 
          a(href="Soaring_Balls_Syndicate/works") - Ballride Style -
        li.menu_items 
          a(href="Ballriders_Creative_Group") - Ballriderts Creative Group -