/**
 * modified version of eric meyer's reset 2.0
 * http://meyerweb.com/eric/tools/css/reset/
 */
/**
 * basic reset
 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, main,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/**
 * HTML5 display-role reset for older browsers
 */
article, aside, details, figcaption, figure,
footer, header, menu, nav, section,
main, summary {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/**
 * modified version of normalize.css 3.0.2
 * http://necolas.github.io/normalize.css/
 */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

/**
 * HTML5 display definitions
 * =============================================================================
 */
/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline; }

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none; }

/**
 * Links
 * =============================================================================
 */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0; }

/**
 * Text-level semantics
 * =============================================================================
 */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold; }

/**
 * 1. Address styling not present in Safari and Chrome.
 * 2. Set previously resetted italic font-style
 */
dfn,
i, em {
  font-style: italic; }

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/**
 * Embedded content
 * =============================================================================
 */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0; }

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden; }

/**
 * Grouping content
 * =============================================================================
 */
/**
 * Address differences between Firefox and other browsers.
 */
hr {
  box-sizing: content-box;
  height: 0; }

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto; }

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace; }

/**
 * Forms
 * =============================================================================
 */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0; }

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal; }

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"],
input[type="radio"] {
  padding: 0; }

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  box-sizing: content-box; }

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto; }

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold; }

@font-face {
  font-family: proxima-nova;
  src: url(../../fonts/ProximaNova/ProximaNovaRegular.otf) format("opentype"); }
@font-face {
  font-family: proxima-nova-light;
  font-weight: light;
  src: url(../../fonts/ProximaNova/ProximaNovaLight.otf) format("opentype"); }
@font-face {
  font-family: proxima-nova-bold;
  font-weight: bold;
  src: url(../../fonts/ProximaNova/ProximaNovaBold.otf) format("opentype"); }
@font-face {
  font-family: proxima-nova-thin;
  src: url(../../fonts/ProximaNova/ProximaNovaThin.otf) format("opentype"); }
@font-face {
  font-family: proxima-nova-extra-bold;
  src: url(../../fonts/ProximaNova/ProximaNovaExtrabold.otf) format("opentype"); }
body {
  -webkit-font-smoothing: antialiased;
  font-family: proxima-nova;
  background-color: white; }

.topside_menu_mobile_toggle {
  position: absolute;
  display: inline-block;
  left: 30px;
  top: 30px;
  width: 35px;
  height: 35px;
  z-index: 1000;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url(../../images/topside_menu_mobile_open.svg);
  background-position: center;
  cursor: pointer; }

.topside_menu_mobile_close {
  background-image: url(../../images/topside_menu_mobile_close.svg);
  left: 30px;
  top: 30px;
  position: absolute;
  display: inline-block;
  height: 35px;
  width: 35px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer; }

.topside_menu_mobile {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #f9f9f9;
  opacity: 0;
  text-align: center;
  z-index: -100; }

.topside_menu_mobile_list {
  width: 100%;
  position: absolute;
  top: 50%;
  margin-top: -124px; }

.topside_menu_mobile_list_item {
  height: 100%;
  margin: 50px 0; }

.topside_menu_mobile_list_item_link {
  text-decoration: none;
  font-size: 16px;
  color: #3F404B;
  font-family: Neue;
  text-transform: uppercase; }
  .topside_menu_mobile_list_item_link:hover {
    color: black; }

.on {
  opacity: 1;
  z-index: 9999; }

.coming_soon {
  pointer-events: none; }
  .coming_soon a:after {
    content: " (Coming on October 27)";
    width: 100%;
    display: inline-block;
    text-transform: none;
    font-size: 12px;
    color: #FF3399;
    margin-top: 5px; }

html, body {
  height: 100%;
  width: 100%; }

main {
  height: 100%; }

#intro {
  min-height: 450px; }

#logo {
  margin: 0;
  position: absolute;
  top: 40%;
  left: 50%;
  margin-left: -75px;
  margin-top: -90px;
  text-indent: -9999px;
  width: 150px;
  height: 170px;
  background-image: url(../../images/6.svg);
  background-repeat: no-repeat;
  background-size: 100%; }

#hello {
  position: relative;
  display: block;
  width: auto;
  top: 70%;
  text-align: center;
  font-size: 28px;
  font-weight: 100;
  padding: 0 20px;
  color: black;
  font-family: proxima-nova-light; }

.bold {
  font-family: proxima-nova-bold; }

#tutorials {
  height: auto;
  background-color: black;
  color: white;
  padding: 200px 0;
  font-family: proxima-nova-light; }

.tutorials_header {
  text-align: center;
  padding-bottom: 100px;
  margin: 0;
  font-size: 30px; }

.tutorials_wrapper {
  width: 60%;
  margin-left: 30%; }
  .tutorials_wrapper .tutorial_link:last-child {
    margin-bottom: 0; }

.tutorial_link {
  display: block;
  width: auto;
  text-decoration: none;
  color: white;
  margin-bottom: 50px;
  padding: 10px; }
  .tutorial_link:hover {
    color: white; }

.tutorial_title {
  font-size: 22px;
  display: inline-block;
  vertical-align: baseline;
  border-bottom: 3px solid #3F404B;
  font-family: proxima-nova-extra-bold;
  padding-bottom: 5px;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #3F404B; }

.tutorial_description {
  font-size: 23px;
  display: inline-block;
  vertical-align: baseline;
  margin-left: 20px;
  color: white; }

#subscribe {
  height: 500px;
  position: relative; }

.form_wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 450px;
  margin-left: -225px;
  height: 80px;
  margin-top: -40px; }
  .form_wrapper:hover .mail_input {
    padding-bottom: 10px; }

.mail_input {
  border: none;
  border-bottom: solid 3px #ccc;
  width: 100%;
  font-size: 25px;
  transition: 0.3s; }
  .mail_input:focus {
    outline: none;
    padding-bottom: 10px; }

.mail_send {
  opacity: 0;
  position: absolute;
  right: 0;
  top: -1px;
  font-size: 18px;
  transition: 0.3s;
  pointer-events: none;
  border: solid 3px #ccc;
  height: 50px;
  background-color: white;
  padding: 0 10px;
  font-family: proxima-nova-bold;
  color: #ccc; }
  .mail_send:hover {
    color: black; }

.bottom_menu_left {
  background-color: #aafc50;
  display: block;
  position: relative;
  width: 50%;
  text-align: center;
  min-height: 100px;
  float: left;
  color: black; }

.bottom_menu_right {
  background-color: #ab84e4;
  display: block;
  position: relative;
  width: 50%;
  text-align: center;
  min-height: 100px;
  float: right;
  color: black; }

.bottom_menu_label {
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  font-size: 13px;
  font-family: Neue;
  letter-spacing: 1px; }

.subscription_complete {
  opacity: 0;
  transition: 0.3s;
  position: absolute;
  bottom: 150px;
  width: 100%;
  text-align: center; }

.email_emphasized {
  font-family: proxima-nova-bold;
  display: inline; }

.mail_send_show {
  opacity: 1;
  pointer-events: all; }

@media(max-width: 900px) {
  #tutorials {
    padding: 120px 0; }

  .tutorials_wrapper {
    width: 80%;
    margin-left: 10%; } }
@media(max-width: 767px) {
  #logo {
    width: 50px;
    height: 70px;
    margin-top: -35px;
    margin-left: -25px; }

  .tutorial_title {
    font-size: 15px; }

  .tutorial_description {
    font-size: 16px; }

  #hello {
    font-size: 15px; } }
@media(max-width: 500px) {
  #tutorials {
    padding: 70px 0; }

  .tutorials_header {
    font-size: 20px;
    padding-bottom: 50px; }

  .form_wrapper {
    width: 280px;
    margin-left: -140px;
    top: 60%; }

  .mail_input {
    font-size: 15px; }

  .mail_send {
    font-size: 15px;
    top: -15px; }

  .subscription_complete {
    padding: 0 15px;
    bottom: 50px; }

  #subscribe {
    height: 300px; }

  .bottom_menu_label {
    font-size: 10px;
    top: 45%; }

  .tutorials_wrapper {
    width: 95%;
    margin-left: 5%; }

  .tutorial_title {
    font-size: 13px; }

  .tutorial_description {
    font-size: 14px; }

  .bottom_menu_left, .bottom_menu_right {
    min-height: 50px; } }
@media(max-width: 370px) {
  #hello {
    font-size: 10px; }

  .tutorial_title {
    font-size: 10px; }

  .tutorial_description {
    font-size: 12px; }

  .bottom_menu_label {
    font-size: 8px; }

  .tutorial_link {
    margin-bottom: 30px; } }

/*# sourceMappingURL=ballride_style.css.map */
