extends ../layout

block head
    link(rel="stylesheet", href="stylesheets/soaring_balls_syndicate/soaring_balls_syndicate.css")
block main
    .menu_big_toggle
    section.menu_big
        .menu_close
        ul
            li.menu_big_item
                img(src="../../images/ballriders_logotype_minimal_white.svg", alt="")
            li.menu_big_item
                a(href="soaring_balls_syndicate#home").color1 H &nbsp&nbsp&nbsp&nbsp&nbsp o &nbsp&nbsp&nbsp&nbsp&nbsp m &nbsp&nbsp&nbsp&nbsp&nbsp e
            li.menu_big_item
                a(href="soaring_balls_syndicate#intro").color2 I &nbsp&nbsp&nbsp&nbsp n &nbsp&nbsp&nbsp&nbsp t &nbsp&nbsp&nbsp&nbsp r &nbsp&nbsp&nbsp&nbsp o
            li.menu_big_item
                a(href="soaring_balls_syndicate#works").color3 W &nbsp&nbsp&nbsp o &nbsp&nbsp&nbsp r &nbsp&nbsp&nbsp k &nbsp&nbsp&nbsp s
            li.menu_big_item
                a(href="soaring_balls_syndicate#clients").color4 C &nbsp&nbsp l &nbsp&nbsp i &nbsp&nbsp e &nbsp&nbsp n &nbsp&nbsp t &nbsp&nbsp s
            li.menu_big_item
                a(href="soaring_balls_syndicate#about").color5 A &nbsp&nbsp&nbsp b &nbsp&nbsp&nbsp o &nbsp&nbsp&nbsp u &nbsp&nbsp&nbsp t
            li.menu_big_item
                a(href="soaring_balls_syndicate#service").color6 S &nbsp e &nbsp r &nbsp v &nbsp i &nbsp c &nbsp e
            li.menu_big_item
                a(href="soaring_balls_syndicate#contact").color7 C &nbsp o &nbsp n &nbsp t &nbsp a &nbsp c &nbsp t
    section#home
        include ../topside_menu.jade
        .circle
            include soaring_balls.jade
        .arrow_down_pure
            img(src="../../images/arrow_down_pure.svg", alt="")
    section#intro
        #intro1
        #intro2
    section#works
        .circle
            include works_selection.jade
    section#clients
        .circle
            include clients.jade
    section#about
    section#service
        .circle    
            include service.jade
    section#contact
        .circle
            include contact.jade
block js
    script(src="javascripts/soaring_balls_syndicate.js")

















