extends ../layout

block head
    meta(name="keywords" content="freestyle basketball soaring balls syndicate ballride style performance choreography wedding show Vaggi баскетбольный фристайл свадебный перфоманс выступление детское шоу интерактив хореография мяч Вагги")
    meta(name="description" content="Discover one of the best freestyle basketballe team. Get the best entertainment show for your event")
block main
    main
        include ../topside_menu_mobile.jade
        .menu_big
            .menu_close
            ul.menu_big_list
                li.menu_big_item
                    a.menu_big_item_link(href="#home_section").color2 H o m e
                li.menu_big_item
                    a.menu_big_item_link(href="#about_section").color3 A b o u t
                li.menu_big_item
                    a.menu_big_item_link(href="#works_section").color4 W o r k s
                li.menu_big_item
                    a.menu_big_item_link(href="#clients_section").color5 C l i e n t s
                li.menu_big_item
                    a.menu_big_item_link(href="#service_section").color6 S e r v i c e
                li.menu_big_item
                    a.menu_big_item_link(href="#contact_section").color7 C o n t a c t
        .section#home_section
            .topside_menu_mobile_toggle
            .menu_big_toggle_black
            .circle_wrapper
                .circle
                    img(src="../../images/soaring_balls_syndicate_allV.svg", alt="").section_svg
            .arrow_pure scroll down
        .section#about_section
            .about_text_wrapper
                br
                | Hi.
                br
                | I am Vagan Manukian.
                br
                | I live and perform in Russia.
                br
                | I do freestyle basketball shows, choreographies 
                br
                | and master classes.
                br
                | I am fluent with the ball.
                br
                | I understand freestyle not only 
                br
                | as an entertainment industry 
                br
                | but as a way to tell some 
                br
                | life stories as well.
        .section#works_section
            .circle_wrapper
                .circle
                    img(src="../../images/works_selection_allV.svg", alt="").section_svg
                a.hitmebaby(href="/soaring_balls_syndicate/works")
        .section#clients_section
            .circle_wrapper
                .circle
                    img(src="../../images/white_circle_allV.svg", alt="").section_svg
        .section#service_section
            .circle_wrapper
                a.instagram_link(href="http://instagram.com/vaggi_tsss" target="_blank")
                    img(src="../../images/insta_logo_white.svg", alt="")
                    .text Check out my instagram
                    img(src="../../images/arrow_right_white.svg", alt="")
                .circle
                    img(src="../../images/service_circle_allV.svg", alt="").section_svg
        .section#contact_section
            .circle_wrapper
                .circle
                    img(src="../../images/contact_circle_allV.svg", alt="").section_svg
                a.hitmebaby(href="mailto:weballriders@gmail.com")

        link(rel="stylesheet", href="stylesheets/soaring_balls_syndicate/soaring_balls_syndicate-min.css")
block js
    script(src="javascripts/soaring_balls_syndicate.js")



