extends ../layout

block head
    meta(name="keywords" content="freestyle basketball soaring balls syndicate ballride style performance choreography wedding show Vaggi баскетбольный фристайл свадебный перфоманс выступление детское шоу интерактив хореография мяч Вагги")
    meta(name="description" content="Discover one of the best freestyle basketballe team. Get the best entertainment show for your event")
block main
    .loader_area
        .loader
            img(src="../../images/fluent_color.svg", alt="")
    main
        include ../topside_menu_mobile.jade
        .menu_big
            .menu_close
            ul.menu_big_list
                li.menu_big_item
                    a.menu_big_item_link(href="#home_section").color2 Г л а в н а я
                li.menu_big_item
                    a.menu_big_item_link(href="#about_section").color3 О б о М н е
                li.menu_big_item
                    a.menu_big_item_link(href="#works_section").color4 Р а б о т ы
                li.menu_big_item
                    a.menu_big_item_link(href="#clients_section").color5 К л и е н т ы
                li.menu_big_item
                    a.menu_big_item_link(href="#service_section").color6 У с л у г и
                li.menu_big_item
                    a.menu_big_item_link(href="#contact_section").color7 К о н т а к т
        .section#home_section
            .topside_menu_mobile_toggle
            .menu_big_toggle_black
            a.lang_change(href="/soaring_balls_syndicate") EN
            .circle_wrapper
                .promo_wrapper.wow.fadeInRight
                    .promo_circle_wrapper
                        .promo_circle_small
                        .promo_circle_small_text(style="margin-left: -15px") смотреть мое промо
                    .promo_text_label или нет...
                    .promo_close
                iframe.promo_video_wrapper(src="", frameborder='0', webkitallowfullscreen='', mozallowfullscreen='', allowfullscreen='')
                    p
                        a(href='https://vimeo.com/167247232') Vaggi | Ballride Style Choreographer
                        |  from 
                        a(href='https://vimeo.com/ballriders') BALLRIDERS SYNDICATE
                        |  on 
                        a(href='https://vimeo.com') Vimeo
                        | .
                .promo_video_close
                .circle
                    .title_label.wow.fadeIn Шоу летающих мячей от
                    .section_title.wow.fadeInLeft Вагги Тссс
                    a.section_cta.wow.fadeInUp(href="mailto:weballriders@gmail.com") Хочу шоу
            .small_label листай вниз
            img(src="../../images/fluent_color.svg", alt="").drop.wow.fadeInDown
        .section#about_section
            .about_text_wrapper(style="margin-top: -212px").wow.fadeIn
                br
                | Привет.
                br
                | Я Ваган Манукян.
                br
                | Я живу и выступаю в России.
                br
                | Я делаю акробатические шоу с элементами
                br
                | баскетбольного фристайла.
                br
                | Свободно владею мячом.
                br
                | Для меня фристайл это не только
                br
                | развлекательная индустрия,
                br
                | но также и способ рассказать некоторые
                br
                | истории из жизни.
        .section#works_section
            .circle_wrapper
                .circle
                    .title_label.wow.fadeIn Видео
                    .section_title.wow.fadeInRight Портфолио
                    a.section_cta(href="/ru/soaring_balls_syndicate/works").wow.fadeInUp Смотреть
        .section#clients_section
            .circle_wrapper
                .circle2
                    .section_title Клиенты
                    .clients_text.wow.fadeIn
                        .clients_row 
                            .bold Adidas 
                            | • A-One • 
                            .bold Apple 
                            | • Asus • 
                            .lg-only Ballaholix • 
                            | Centr
                        .clients_row Дождь • 
                            .bold FIBA 
                            | •  
                            .lg-only Funbox • Gurme • 
                            | Kia • 
                            .bold Ленинград Центр 
                        .clients_row Li-Ning • 
                            .bold МЕЧ 
                            | • Minsk Street Gamez
                        .clients_row НТВ • Redbull • 
                            .bold Reebok 
                            | • 
                            .lg-only Streetball • 
                            .bold Tachikara 
                        .clients_row 
                            .bold ТНТ 
                            | • WFBA • Zero • Zuidepark
        .section#service_section
            a.glitch_instagram(href="http://instagram.com/vaggi_tsss" target="_blank")
                img(src='../images/instagram.svg')
                img(src='../images/instagram_shadow.svg')
                img(src='../images/instagram.svg')
            .circle_wrapper
                a.instagram_link(href="http://instagram.com/vaggi_tsss" target="_blank")
                    .text.glitch_text(data-text="Взглянуть на мой инстаграм") Взглянуть на мой инстаграм
                    img(src="../../images/arrow_right_white.svg", alt="")
                .circle3
                    .section_title  Услуги
                    .service_text.wow.fadeIn
                        .service_row Баскетбольное фристайл шоу
                        .service_row Дриблинг • Кручение на пальце
                        .service_row Хореография с мячами
                        .service_row Мастерклассы
        .section#contact_section
            .circle_wrapper
                .circle
                    .title_label.wow.fadeIn Для связи
                    .section_title.wow.fadeInLeft Пишимне
                    a.section_cta(href="mailto:weballriders@gmail.com").wow.fadeInUp Писать
            .small_label weballriders@gmail.com
        link(rel="stylesheet", href="../stylesheets/soaring_balls_syndicate/animate.css")
        link(rel="stylesheet", href="../stylesheets/soaring_balls_syndicate/soaring_balls_syndicate-min.css")
block js
    script(src="../javascripts/wow.min.js")
    script(src="../javascripts/soaring_balls_syndicate.js")



