extends ../layout

block head
    link(rel='stylesheet', type='text/css', href='fullpage.js/jquery.fullPage.css')
    link(rel="stylesheet", href="stylesheets/soaring_balls_syndicate/soaring_balls_syndicate.css")
block main
    .menu_big#menu
        .menu_close
        ul.menu_big_list
            li.menu_big_item
                img.logotype_image(src="../../images/ballriders_logotype_minimal_white.svg", alt="")
            li.menu_big_item(data-menuanchor="home")
                a.menu_big_item_link(href="#home").color1 H o m e
            li.menu_big_item(data-menuanchor="intro1")
                a.menu_big_item_link(href="#intro1").color2 I n t r o
            li.menu_big_item(data-menuanchor="works")
                a.menu_big_item_link(href="#works").color3 W o r k s
            li.menu_big_item(data-menuanchor="clients")
                a.menu_big_item_link(href="#clients").color4 C l i e n t s
            li.menu_big_item(data-menuanchor="about")
                a.menu_big_item_link(href="#about").color5 A b o u t
            li.menu_big_item(data-menuanchor="service")
                a.menu_big_item_link(href="#service").color6 S e r v i c e
            li.menu_big_item(data-menuanchor="contact")
                a.menu_big_item_link(href="#contact").color7 C o n t a c t
    .section#home_section
        include ../topside_menu.jade
        .menu_big_toggle_black
        .circle_wrapper
            .circle
                .logotype
                    img.logotype_image(src="../../images/8.svg", alt="")
                .label_big Soaring Balls Syndicate
                h1.section_title_thin Ballriders
                hr(noshade width="150px" size="1px")
                .label_small Performance • Master Class • Collaboration
            a(href="#intro1")
                img.arrow_pure(src="../../images/arrow_down_pure.svg", alt="")
    .section#intro_section1
        .menu_big_toggle
    .section#intro_section2
        .menu_big_toggle
    .section#works_section
        .menu_big_toggle_black
        .circle_wrapper
            .circle
                .logotype
                    img.logotype_image(src="../../images/8.svg", alt="")
                .label_big Works
                h1.section_title_thick
                    a.link_wrapper(href="soaring_balls_syndicate/works") Selection
                hr(noshade width="150px" size="1px")
                .label_small.copyright 2016 • Ballriders • Soaring Balls Syndicate
    .section#clients_section
        .menu_big_toggle_black
        .circle_wrapper
            .circle_white
                .logotype
                    img.logotype_image(src="../../images/8.svg", alt="")
                .clients_text
                    .clients_text_row
                        span Adidas • A-One • 
                        b Apple 
                        span • Asus • Ballaholix • Centr
                    .clients_text_row
                        span Дождь • 
                        b FIBA 
                        span • Funbox • Gurme • Kia • 
                        b Ленинград Центр 
                        span • МЕЧ
                    .clients_text_row
                        span Minsk Street Gamez • НТВ • 
                        b Redbull 
                        span • Reebok • Streetball
                    .clients_text_row
                        b ТНТ 
                        span • WFBA • Zero • 
                        b Zuiderpark
    .section#about_section
        .menu_big_toggle
    .section#service_section
        .menu_big_toggle
        .circle_wrapper
            .circle_black
                .service_text
                    .service_text_row •
                    .service_text_row Soaring Balls Showcase
                    .service_text_row Ballride Style Masterclass • Judging
                    .service_text_row Photoshooting • Videoshooting • Modeling
                    .service_text_row Audience Entertainment Play • Solo Performance 
                    .service_text_row Show Directing • Choreographing • Collaborating   
                    .service_text_row Children Fun Showcase • Ballride Intensive
                    .service_text_row Wedding Performance • FSBB Events
                    .service_text_row Multy-language  Freestyle Lessons     
                    .service_text_row •
    .section#contact_section
        .menu_big_toggle
        .circle_wrapper
            a(href="#home")
                img.arrow_pure(src="../../images/arrow_up_pure.svg", alt="")
            .circle
                .logotype
                    img.logotype_image(src="../../images/8.svg", alt="")
                .label_big For Contact
                h1.section_title_thick
                    a.link_wrapper(href='mailto:weballriders@gmail.com') Hitmebaby
                hr(noshade width="150px" size="1px")
                .label_small.copyright 2016 • Ballriders • Soaring Balls Syndicate
block js
    script(src="javascripts/soaring_balls_syndicate.js")
    script(type='text/javascript', src='fullpage.js/jquery.fullPage.js')



