extends ../layout

block head
    style.
        html,
        body,
        div,
        a,
        img,
        ul,
        li,
        main {
          margin: 0;
          padding: 0;
          border: 0;
          font-size: 100%;
          font: inherit;
          vertical-align: baseline;
        }

        main {
          display: block;
        }

        body {
          line-height: 1;
        }

        ul {
          list-style: none;
        }

        html {
          font-family: sans-serif;
          -ms-text-size-adjust: 100%;
          -webkit-text-size-adjust: 100%;
        }

        a {
          background-color: transparent;
        }

        img {
          border: 0;
        }

        svg:not(:root) {
          overflow: hidden;
        }

        @font-face {
          font-family: proxima-nova;
          src: url(../../fonts/ProximaNova/ProximaNovaRegular.otf) format("opentype");
        }

        @font-face {
          font-family: proxima-nova-light;
          font-weight: light;
          src: url(../../fonts/ProximaNova/ProximaNovaLight.otf) format("opentype");
        }

        body {
          -webkit-font-smoothing: antialiased;
          font-family: proxima-nova;
          background-color: #f9f9f9;
        }

        .menu_wrapper {
          font-family: Neue;
          position: relative;
          width: 100%;
          height: 10%;
          background-color: #f9f9f9;
          text-align: center;
        }

        .menu_items {
          display: inline-block;
          width: 33.3%;
          height: 70px;
        }

        .menu_items > a {
          padding-top: 30px;
          box-sizing: border-box;
          display: inline-block;
          width: 100%;
          height: 70px;
          text-align: center;
          text-decoration: none;
          color: #777;
          font-size: 10px;
          text-transform: uppercase;
          word-spacing: 2px;
          vertical-align: middle;
        }

        .coming_soon a:after {
          content: " (Coming on June 23)";
          width: 100%;
          display: inline-block;
          text-transform: none;
          font-size: 12px;
          color: #FF3399;
          margin-top: 5px;
        }

        .section_svg {
          width: 100%;
          height: 100%;
        }

        #home_section {
          position: relative;
          height: 679px;
          width: 100%;
          background-color: #f9f9f9;
          text-align: center;
        }

        #home_section .arrow_pure {
            position: absolute;
            bottom: 0;
            left: 50%;
            margin-left: -34px;
        }

        .circle_wrapper {
          position: relative;
          width: 100%;
          height: 100%;
        }

        .circle {
          position: absolute;
          top: 10%;
          width: 100%;
          height: 80%;
          text-align: center;
        }

        .arrow_pure {
          height: 10%;
          display: inline-block;
        }

        .arrow_pure img {
          height: 100%;
        }

        .keybord {
          position: absolute;
          right: 20px;
          bottom: 15px;
          display: inline-block;
        }

        .keybord img {
          width: 120px;
        }
        
        @media (max-width:1050px) {
          li.menu_items {
            display: none;
          }

          .topside_menu_mobile_toggle {
            display: inline-block;
          }
        }
    meta(name="keywords" content="freestyle basketball soaring balls syndicate ballride style performance choreography wedding show Vaggi баскетбольный фристайл свадебный перфоманс выступление детское шоу интерактив хореография мяч Вагги")
    meta(name="description" content="Discover one of the best freestyle basketballe team. Get the best entertainment show for your event")
block main
    main#fullpage
        include ../topside_menu_mobile.jade
        .menu_big#menu
            .menu_close
            ul.menu_big_list
                li.menu_big_item
                    img.logotype_image(src="../../images/ballriders_logotype_minimal_white.svg", alt="")
                li.menu_big_item(data-menuanchor="home")
                    a.menu_big_item_link(href="#home").color2 H o m e
                li.menu_big_item(data-menuanchor="about")
                    a.menu_big_item_link(href="#about").color3 A b o u t
                li.menu_big_item(data-menuanchor="works")
                    a.menu_big_item_link(href="#works").color4 W o r k s
                li.menu_big_item(data-menuanchor="clients")
                    a.menu_big_item_link(href="#clients").color5 C l i e n t s
                li.menu_big_item(data-menuanchor="about")
                    a.menu_big_item_link(href="#service").color6 S e r v i c e
                li.menu_big_item(data-menuanchor="contact")
                    a.menu_big_item_link(href="#contact").color7 C o n t a c t
        .section#home_section
            .topside_menu_mobile_toggle
            .menu_big_toggle_black
            .keybord
                img(src="../images/keybord.svg", alt="")
            .circle_wrapper
                .circle
                    img(src="../../images/soaring_balls_syndicate_allV.svg", alt="").section_svg
                a(href="#about").arrow_pure
                    img(src="../../images/arrow_down_pure.svg", alt="")
        .section#about_section
            .menu_big_toggle
            .about_text_wrapper
                br
                | Hi.
                br
                | I am Vagan Manukian.
                br
                | I live and perform in Saint-Petersburg.
                br
                | I do freestyle basketball shows, choreographies 
                br
                | and master classes.
                br
                | I am fluent with the ball.
                br
                | I understand freestyle not only 
                br
                | as an entertainment industry 
                br
                | but as a way to tell some 
                br
                | life stories as well.
        .section#works_section
            .menu_big_toggle_black
            .circle_wrapper
                .circle
                    img(src="../../images/works_selection_allV.svg", alt="").section_svg
                a.hitmebaby(href="/soaring_balls_syndicate/works")
        .section#clients_section
            .menu_big_toggle_black
            .circle_wrapper
                .circle
                    img(src="../../images/white_circle_allV.svg", alt="").section_svg
        .section#service_section
            .menu_big_toggle
            .circle_wrapper
                .circle
                    img(src="../../images/service_circle_allV.svg", alt="").section_svg
        .section#contact_section
            .menu_big_toggle_black
            .circle_wrapper
                .circle
                    img(src="../../images/contact_circle_allV.svg", alt="").section_svg
                a(href="#home").arrow_pure
                    img(src="../../images/arrow_up_pure.svg", alt="")
                a.hitmebaby(href="mailto:weballriders@gmail.com")

        link(rel="stylesheet", href="stylesheets/soaring_balls_syndicate/soaring_balls_syndicate.css")
block js
    script(src="javascripts/soaring_balls_syndicate.js")
    script(type='text/javascript', src='fullpage.js/jquery.fullPage.js')



