/**
 * modified version of eric meyer's reset 2.0
 * http://meyerweb.com/eric/tools/css/reset/
 */
/**
 * basic reset
 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, main,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/**
 * HTML5 display-role reset for older browsers
 */
article, aside, details, figcaption, figure,
footer, header, menu, nav, section,
main, summary {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/**
 * modified version of normalize.css 3.0.2
 * http://necolas.github.io/normalize.css/
 */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

/**
 * HTML5 display definitions
 * =============================================================================
 */
/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline; }

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none; }

/**
 * Links
 * =============================================================================
 */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0; }

/**
 * Text-level semantics
 * =============================================================================
 */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold; }

/**
 * 1. Address styling not present in Safari and Chrome.
 * 2. Set previously resetted italic font-style
 */
dfn,
i, em {
  font-style: italic; }

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/**
 * Embedded content
 * =============================================================================
 */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0; }

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden; }

/**
 * Grouping content
 * =============================================================================
 */
/**
 * Address differences between Firefox and other browsers.
 */
hr {
  box-sizing: content-box;
  height: 0; }

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto; }

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace; }

/**
 * Forms
 * =============================================================================
 */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0; }

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal; }

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"],
input[type="radio"] {
  padding: 0; }

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  box-sizing: content-box; }

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto; }

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold; }

@font-face {
  font-family: proxima-nova;
  src: url(../../fonts/ProximaNova/ProximaNovaRegular.otf) format("opentype"); }
@font-face {
  font-family: proxima-nova-light;
  font-weight: light;
  src: url(../../fonts/ProximaNova/ProximaNovaLight.otf) format("opentype"); }
@font-face {
  font-family: proxima-nova-bold;
  font-weight: bold;
  src: url(../../fonts/ProximaNova/ProximaNovaBold.otf) format("opentype"); }
@font-face {
  font-family: proxima-nova-thin;
  src: url(../../fonts/ProximaNova/ProximaNovaThin.otf) format("opentype"); }
@font-face {
  font-family: proxima-nova-extra-bold;
  src: url(../../fonts/ProximaNova/ProximaNovaExtrabold.otf) format("opentype"); }
body {
  -webkit-font-smoothing: antialiased;
  font-family: proxima-nova;
  background-color: white; }

.topside_menu_mobile_toggle {
  position: fixed;
  display: inline-block;
  left: 30px;
  top: 30px;
  width: 35px;
  height: 35px;
  z-index: 1000;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url(../../images/topside_menu_mobile_open.svg);
  background-position: center;
  cursor: pointer;
  z-index: 9999; }

.topside_menu_mobile_close {
  background-image: url(../../images/topside_menu_mobile_close.svg);
  left: 30px;
  top: 30px;
  position: absolute;
  display: inline-block;
  height: 35px;
  width: 35px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer; }

.topside_menu_mobile {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #f9f9f9;
  opacity: 0;
  text-align: center;
  z-index: -100; }

.topside_menu_mobile_list {
  width: 100%;
  position: absolute;
  top: 50%;
  margin-top: -124px; }

.topside_menu_mobile_list_item {
  height: 100%;
  margin: 50px 0; }

.topside_menu_mobile_list_item_link {
  text-decoration: none;
  font-size: 14px;
  letter-spacing: 2px;
  color: #3F404B;
  font-family: Neue;
  text-transform: uppercase; }
  .topside_menu_mobile_list_item_link:hover {
    color: black; }

.on {
  opacity: 1;
  z-index: 9999; }

@media (max-width: 600px) {
  .topside_menu_mobile_list_item_link {
    font-size: 12px; } }
body {
  overflow-x: hidden; }

.loader_area {
  position: fixed;
  z-index: 100000;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background-color: #f9f9f9; }

.loader {
  width: 50px;
  position: absolute;
  left: 50%;
  margin-left: -25px;
  top: -140px; }

.loader {
  animation: animate 1.2s infinite linear; }

@keyframes animate {
  0% {
    transform: translateY(0px); }
  100% {
    transform: translateY(1000px); } }
.menu_big {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-image: url(../../images/grain.jpg);
  background-repeat: repeat;
  background-position: 0 0;
  -webkit-animation: noiseAnim 0.5s infinite linear alternate;
  -moz-animation: noiseAnim 0.5s infinite linear alternate;
  -o-animation: noiseAnim 0.5s infinite linear alternate;
  animation: noiseAnim 0.5s infinite linear alternate;
  opacity: 0;
  text-align: center;
  z-index: -100;
  transition: 0.4s; }

.menu_big_list {
  display: inline-block;
  position: absolute;
  width: 300px;
  top: 50%;
  margin-top: -210px;
  left: 50%;
  margin-left: -150px; }

.drop {
  width: 50px;
  position: absolute;
  left: 50%;
  margin-left: -25px;
  bottom: -25px;
  z-index: 1000; }

.color2 {
  color: #3EB5F1; }

.color3 {
  color: #409EDB; }

.color4 {
  color: #4581C3; }

.color5 {
  color: #4874B8; }

.color6 {
  color: #496BB0; }

.color7 {
  color: #4D59A1; }

.menu_big_item {
  margin-top: 30px; }

.menu_big_item_link {
  text-decoration: underline;
  font-size: 20px;
  font-weight: 100;
  text-transform: uppercase;
  text-align: justify;
  display: inline-block;
  width: 100%; }
  .menu_big_item_link:hover {
    text-decoration: line-through; }
  .menu_big_item_link:after {
    content: "";
    display: inline-block;
    width: 100%; }

.on {
  opacity: 1;
  z-index: 9999; }

.menu_big_toggle_black {
  position: fixed;
  display: inline-block;
  right: 15px;
  top: 15px;
  width: 60px;
  height: 60px;
  z-index: 1000;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url(../../images/menu_open_black.svg);
  background-position: center;
  cursor: pointer; }

.menu_close {
  background-image: url(../../images/menu_close.svg);
  right: 15px;
  top: 15px;
  position: absolute;
  display: inline-block;
  height: 60px;
  width: 60px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  z-index: 1000; }

.title_label {
  font-size: 24px;
  font-family: proxima-nova-light;
  text-transform: uppercase;
  position: absolute;
  top: 36%;
  width: 100%;
  letter-spacing: 1px;
  text-align: center;
  box-sizing: border-box; }

.section_title {
  font-size: 85px;
  font-family: proxima-nova;
  text-transform: uppercase;
  position: absolute;
  top: 42.5%;
  width: 100%;
  letter-spacing: 25px;
  text-align: center;
  box-sizing: border-box; }

.section_cta {
  position: absolute;
  top: 75%;
  left: 50%;
  margin-left: -105px;
  font-size: 18px;
  font-family: proxima-nova-bold;
  border: 4px solid #1b1b1b;
  width: 211px;
  height: 58px;
  border-radius: 100px;
  background: #f9f9f9;
  text-transform: uppercase;
  padding: 15px 5px;
  box-sizing: border-box;
  text-decoration: none;
  color: #1b1b1b;
  transition: 0.3s; }
  .section_cta:hover {
    background: #aafc50;
    cursor: pointer; }

.lang_change {
  position: absolute;
  top: 35px;
  left: 50%;
  margin-left: -11px;
  font-family: proxima-nova-bold;
  z-index: 1000;
  text-decoration: none;
  color: #1b1b1b; }
  .lang_change:hover {
    text-decoration: underline; }

#home_section {
  position: relative;
  width: 100%;
  background-color: #f9f9f9;
  text-align: center; }
  #home_section .arrow_pure {
    cursor: auto;
    position: absolute;
    font-size: 12px;
    bottom: -20px;
    left: 50%;
    margin-left: -30px; }

.circle_wrapper {
  position: relative;
  width: 100%;
  height: 100%; }

.circle {
  position: absolute;
  top: 10%;
  width: 100%;
  height: 80%;
  text-align: center;
  background-image: url(../../images/soaring_balls_syndicate/intro_new.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center; }

.circle2 {
  position: absolute;
  top: 10%;
  width: 100%;
  height: 80%;
  text-align: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(../../images/soaring_balls_syndicate/clients_new.svg); }
  .circle2 .section_title {
    top: 20%;
    letter-spacing: 50px;
    padding-left: 25px; }

.circle3 {
  position: absolute;
  top: 10%;
  width: 100%;
  height: 80%;
  text-align: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(../../images/soaring_balls_syndicate/service_new.svg); }
  .circle3 .section_title {
    top: 20%;
    letter-spacing: 50px;
    padding-left: 25px;
    color: #f9f9f9; }

.arrow_pure {
  cursor: pointer;
  height: 10%;
  display: inline-block; }

#works_section {
  position: relative;
  width: 100%;
  background-color: #f9f9f9;
  text-align: center; }

#clients_section {
  width: 100%;
  position: relative;
  background: linear-gradient(-124deg, #3EB5F1 0%, #4D59A1 100%);
  text-align: center; }

.clients_text {
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center; }

.clients_row {
  text-align: justify;
  display: inline-block;
  width: 70%;
  font-family: proxima-nova-light;
  font-size: 18px;
  letter-spacing: 6px;
  line-height: 28px; }
  .clients_row:after {
    content: "";
    display: inline-block;
    width: 100%; }

.bold {
  font-family: proxima-nova-bold;
  display: inline; }

.lg-only {
  display: inline; }

@-webkit-keyframes noiseAnim {
  0% {
    background-position: 10px 200px; }
  20% {
    background-position: -50px 0; }
  40% {
    background-position: 100px -10px; }
  60% {
    background-position: 0 -150px; }
  80% {
    background-position: -100px -30px; }
  100% {
    background-position: 160px -60px; } }
@-moz-keyframes noiseAnim {
  0% {
    background-position: 10px 200px; }
  20% {
    background-position: -50px 0; }
  40% {
    background-position: 100px -10px; }
  60% {
    background-position: 0 -150px; }
  80% {
    background-position: -100px -30px; }
  100% {
    background-position: 160px -60px; } }
@-o-keyframes noiseAnim {
  0% {
    background-position: 10px 200px; }
  20% {
    background-position: -50px 0; }
  40% {
    background-position: 100px -10px; }
  60% {
    background-position: 0 -150px; }
  80% {
    background-position: -100px -30px; }
  100% {
    background-position: 160px -60px; } }
@keyframes noiseAnim {
  0% {
    background-position: 10px 200px; }
  20% {
    background-position: -50px 0; }
  40% {
    background-position: 100px -10px; }
  60% {
    background-position: 0 -150px; }
  80% {
    background-position: -100px -30px; }
  100% {
    background-position: 160px -60px; } }
#about_section {
  width: 100%;
  position: relative;
  background-image: url(../../images/IMG_0555.JPG);
  background-size: cover;
  background-position: right; }

.about_text_wrapper {
  font-size: 23px;
  color: #f9f9f9;
  text-align: center;
  margin: 0 auto;
  font-family: proxima-nova-light;
  text-transform: uppercase;
  line-height: 40px;
  letter-spacing: 3px;
  padding: 0 15px;
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  margin-top: -220px;
  width: 100%; }

#service_section {
  width: 100%;
  position: relative;
  background-color: black;
  text-align: center; }

.service_text {
  position: absolute;
  top: 45%;
  width: 100%;
  text-align: center; }

.service_row {
  text-align: justify;
  text-align: center;
  display: inline-block;
  width: 80%;
  font-family: proxima-nova;
  font-size: 21px;
  letter-spacing: 2px;
  line-height: 60px;
  color: #f9f9f9; }

.instagram_link {
  height: auto;
  color: white;
  font-family: proxima-nova-bold;
  position: absolute;
  top: 92%;
  right: 25px;
  z-index: 1000;
  text-align: center; }
  .instagram_link img {
    width: 20px;
    margin: 12.5px;
    display: inline-block;
    vertical-align: middle; }
  .instagram_link .text {
    width: 200px;
    display: inline-block;
    font-size: 12px;
    vertical-align: middle; }

#contact_section {
  width: 100%;
  position: relative;
  background-color: #f9f9f9;
  text-align: center; }

.link_wrapper {
  display: inline-block;
  height: 100%;
  width: 100%;
  text-decoration: none;
  color: #1b1b1b; }
  .link_wrapper:hover {
    color: #53545f; }

.glitch_cta:hover {
  color: #1b1b1b;
  position: relative;
  position: absolute; }
@keyframes glitch_cta-anim-1 {
  0% {
    clip: rect(56px, 170px, 51px, 0); }
  8.33333% {
    clip: rect(67px, 170px, 70px, 0); }
  16.66667% {
    clip: rect(5px, 170px, 40px, 0); }
  25% {
    clip: rect(25px, 170px, 31px, 0); }
  33.33333% {
    clip: rect(13px, 170px, 79px, 0); }
  41.66667% {
    clip: rect(61px, 170px, 61px, 0); }
  50% {
    clip: rect(61px, 170px, 73px, 0); }
  58.33333% {
    clip: rect(40px, 170px, 34px, 0); }
  66.66667% {
    clip: rect(65px, 170px, 49px, 0); }
  75% {
    clip: rect(35px, 170px, 78px, 0); }
  83.33333% {
    clip: rect(64px, 170px, 55px, 0); }
  91.66667% {
    clip: rect(25px, 170px, 42px, 0); }
  100% {
    clip: rect(41px, 170px, 37px, 0); } }
@keyframes glitch_cta-anim-2 {
  0% {
    clip: rect(69px, 170px, 4px, 0); }
  8.33333% {
    clip: rect(13px, 170px, 29px, 0); }
  16.66667% {
    clip: rect(27px, 170px, 4px, 0); }
  25% {
    clip: rect(80px, 170px, 46px, 0); }
  33.33333% {
    clip: rect(57px, 170px, 9px, 0); }
  41.66667% {
    clip: rect(43px, 170px, 12px, 0); }
  50% {
    clip: rect(69px, 170px, 44px, 0); }
  58.33333% {
    clip: rect(5px, 170px, 36px, 0); }
  66.66667% {
    clip: rect(66px, 170px, 63px, 0); }
  75% {
    clip: rect(23px, 170px, 58px, 0); }
  83.33333% {
    clip: rect(67px, 170px, 76px, 0); }
  91.66667% {
    clip: rect(57px, 170px, 4px, 0); }
  100% {
    clip: rect(16px, 170px, 64px, 0); } }
  .glitch_cta:hover:before, .glitch_cta:hover:after {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background: #aafc50;
    clip: rect(0, 0, 0, 0); }
  .glitch_cta:hover:after {
    left: 2px;
    text-shadow: -1px 0 red;
    animation: glitch_cta-anim-1 2s infinite linear alternate-reverse; }
  .glitch_cta:hover:before {
    left: -2px;
    text-shadow: 2px 0 blue;
    animation: glitch_cta-anim-2 3s infinite linear alternate-reverse; }
  .glitch_cta:hover:after {
    top: 15px; }
  .glitch_cta:hover:before {
    top: 14px;
    left: 2px; }

.glitch_text {
  color: #f9f9f9;
  position: relative; }
@keyframes glitch_text-anim-1 {
  0% {
    clip: rect(5px, 400px, 20px, 0); }
  8.33333% {
    clip: rect(39px, 400px, 2px, 0); }
  16.66667% {
    clip: rect(23px, 400px, 12px, 0); }
  25% {
    clip: rect(1px, 400px, 2px, 0); }
  33.33333% {
    clip: rect(38px, 400px, 16px, 0); }
  41.66667% {
    clip: rect(22px, 400px, 5px, 0); }
  50% {
    clip: rect(37px, 400px, 51px, 0); }
  58.33333% {
    clip: rect(21px, 400px, 27px, 0); }
  66.66667% {
    clip: rect(26px, 400px, 3px, 0); }
  75% {
    clip: rect(7px, 400px, 9px, 0); }
  83.33333% {
    clip: rect(16px, 400px, 4px, 0); }
  91.66667% {
    clip: rect(11px, 400px, 28px, 0); }
  100% {
    clip: rect(26px, 400px, 1px, 0); } }
@keyframes glitch_text-anim-2 {
  0% {
    clip: rect(27px, 400px, 52px, 0); }
  8.33333% {
    clip: rect(29px, 400px, 19px, 0); }
  16.66667% {
    clip: rect(49px, 400px, 2px, 0); }
  25% {
    clip: rect(22px, 400px, 12px, 0); }
  33.33333% {
    clip: rect(31px, 400px, 17px, 0); }
  41.66667% {
    clip: rect(16px, 400px, 18px, 0); }
  50% {
    clip: rect(33px, 400px, 17px, 0); }
  58.33333% {
    clip: rect(22px, 400px, 50px, 0); }
  66.66667% {
    clip: rect(46px, 400px, 20px, 0); }
  75% {
    clip: rect(20px, 400px, 30px, 0); }
  83.33333% {
    clip: rect(12px, 400px, 9px, 0); }
  91.66667% {
    clip: rect(3px, 400px, 1px, 0); }
  100% {
    clip: rect(20px, 400px, 41px, 0); } }
  .glitch_text:before, .glitch_text:after {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background: black;
    clip: rect(0, 0, 0, 0); }
  .glitch_text:after {
    left: 2px;
    text-shadow: -1px 0 red;
    animation: glitch_text-anim-1 2s infinite linear alternate-reverse; }
  .glitch_text:before {
    left: -2px;
    text-shadow: 2px 0 blue;
    animation: glitch_text-anim-2 3s infinite linear alternate-reverse; }

.glitch_instagram {
  position: absolute;
  bottom: 202px;
  right: 191px;
  height: auto;
  width: auto;
  z-index: 1000; }
@keyframes glitch-anim-1 {
  0% {
    clip: rect(1px, 50px, 26px, 0); }
  8.33333% {
    clip: rect(47px, 50px, 4px, 0); }
  16.66667% {
    clip: rect(40px, 50px, 9px, 0); }
  25% {
    clip: rect(27px, 50px, 34px, 0); }
  33.33333% {
    clip: rect(16px, 50px, 17px, 0); }
  41.66667% {
    clip: rect(39px, 50px, 59px, 0); }
  50% {
    clip: rect(24px, 50px, 42px, 0); }
  58.33333% {
    clip: rect(2px, 50px, 25px, 0); }
  66.66667% {
    clip: rect(18px, 50px, 34px, 0); }
  75% {
    clip: rect(13px, 50px, 50px, 0); }
  83.33333% {
    clip: rect(46px, 50px, 26px, 0); }
  91.66667% {
    clip: rect(48px, 50px, 42px, 0); }
  100% {
    clip: rect(14px, 50px, 47px, 0); } }
@keyframes glitch-anim-2 {
  0% {
    clip: rect(34px, 50px, 21px, 0); }
  8.33333% {
    clip: rect(22px, 50px, 34px, 0); }
  16.66667% {
    clip: rect(8px, 50px, 42px, 0); }
  25% {
    clip: rect(40px, 50px, 35px, 0); }
  33.33333% {
    clip: rect(6px, 50px, 15px, 0); }
  41.66667% {
    clip: rect(2px, 50px, 9px, 0); }
  50% {
    clip: rect(7px, 50px, 59px, 0); }
  58.33333% {
    clip: rect(47px, 50px, 54px, 0); }
  66.66667% {
    clip: rect(57px, 50px, 48px, 0); }
  75% {
    clip: rect(13px, 50px, 49px, 0); }
  83.33333% {
    clip: rect(46px, 50px, 34px, 0); }
  91.66667% {
    clip: rect(44px, 50px, 35px, 0); }
  100% {
    clip: rect(43px, 50px, 47px, 0); } }
  .glitch_instagram > img:nth-child(2),
  .glitch_instagram > img:nth-child(3) {
    clip: rect(0, 0, 0, 0); }
  .glitch_instagram > img:nth-child(2) {
    left: 2px;
    animation: glitch-anim-1 2s infinite linear alternate-reverse; }
  .glitch_instagram > img:nth-child(3) {
    left: -2px;
    animation: glitch-anim-2 3s infinite linear alternate-reverse; }
  .glitch_instagram img {
    position: absolute;
    top: 0;
    left: 0;
    height: 150px; }

@media(max-width: 1110px) {
  .clients_row {
    letter-spacing: 4px;
    font-size: 16px;
    width: 85%;
    line-height: 25px; } }
@media(max-width: 790px) {
  .glitch_instagram {
    top: 75%; }

  .glitch_cta:after:before {
    display: none; }

  .section_title {
    font-size: 40px;
    top: 47%;
    letter-spacing: 20px !important;
    padding-left: 10px !important; }

  .title_label {
    font-size: 18px;
    top: 39%; }

  .clients_row {
    letter-spacing: 3px;
    font-size: 15px;
    width: 90%;
    line-height: 20px; }

  .lg-only {
    display: none; } }
@media(max-width: 600px) {
  .glitch_instagram {
    left: 50%;
    margin-left: -16px;
    top: 78%; }
    .glitch_instagram img {
      height: 100px; }

  .menu_big_list {
    margin-top: -165px; }

  .menu_big_item {
    margin-top: 15px; }

  .about_text_wrapper {
    font-size: 15px;
    margin-top: -195px;
    line-height: 30px; }

  .instagram_link {
    width: 100%;
    right: 0; }

  #home_section .arrow_pure {
    bottom: 0; }

  .section_cta {
    font-size: 14px;
    height: 46px;
    width: 168px;
    margin-left: -84px;
    padding: 14px 5px;
    top: 60%;
    border-width: 2px; }

  .clients_row {
    letter-spacing: 2px;
    font-size: 14px;
    width: 100%; }

  .section_title {
    font-size: 25px;
    letter-spacing: 14px !important;
    padding-left: 7px !important;
    top: 48.5%; }

  .title_label {
    font-size: 14px;
    top: 42%; }

  .circle2 .section_title {
    top: 30%; }

  .circle3 .section_title {
    top: 30%; }

  .service_row {
    font-size: 16px;
    letter-spacing: 1px;
    line-height: 48px; } }
@media(max-width: 400px) {
  .glitch_instagram {
    left: 50%;
    top: 75%;
    margin-left: -16px; }
    .glitch_instagram img {
      height: 100px; }

  .menu_big_list {
    width: 240px;
    margin-left: -120px; }

  .about_text_wrapper {
    margin-top: -175px;
    line-height: 25px; }

  .instagram_link {
    background-color: black;
    width: 80%;
    top: 88%;
    margin: 0 10%; }
    .instagram_link .text {
      width: 100%; }

  .section_cta {
    font-size: 12px;
    height: 37px;
    width: 134px;
    margin-left: -67px;
    padding: 11px 5px;
    top: 57%;
    border-width: 2px; }

  .circle2 .section_title {
    top: 35%; }

  .circle3 .section_title {
    top: 35%; }

  .service_row {
    font-size: 14px;
    letter-spacing: 0.5px;
    line-height: 35px; } }

/*# sourceMappingURL=soaring_balls_syndicate.css.map */
