@charset "UTF-8";
@import "http://webfonts.ru/import/inconsolata.css";
@import "http://webfonts.ru/import/sourcesanspro.css";
body {
  font-family: Roboto;
  -webkit-font-smoothing: antialiased; }

.menu_big {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-image: url(../../images/grain.jpg);
  background-repeat: repeat;
  background-position: 0 0;
  -webkit-animation: noiseAnim 0.5s infinite linear alternate;
  -moz-animation: noiseAnim 0.5s infinite linear alternate;
  -o-animation: noiseAnim 0.5s infinite linear alternate;
  animation: noiseAnim 0.5s infinite linear alternate;
  opacity: 0;
  text-align: center; }
  .menu_big ul {
    display: inline-block;
    position: relative; }

.color1 {
  color: #eaff00; }

.color2 {
  color: #dafe14; }

.color3 {
  color: #c4fd2f; }

.color4 {
  color: #aafc50; }

.color5 {
  color: #85fa7d; }

.color6 {
  color: #5fe8ad; }

.color7 {
  color: #5ef8d2; }

.menu_big_item {
  margin-top: 40px; }
  .menu_big_item > a {
    text-decoration: underline;
    font-size: 30px;
    font-weight: 100;
    font-family: Helvetica Neue; }
  .menu_big_item:hover > a {
    text-decoration: line-through; }
  .menu_big_item img {
    width: 30px; }

.on {
  opacity: 1;
  z-index: 9999; }

.menu_big_toggle {
  position: fixed;
  display: inline-block;
  right: 15px;
  top: 15px;
  width: 60px;
  height: 60px;
  z-index: 99999;
  background-repeat: no-repeat;
  background-image: url(../../images/menu_open.svg);
  background-position: center; }

.menu_close {
  background-image: url(../../images/menu_close.svg);
  right: 30px;
  top: 15px;
  position: absolute;
  display: inline-block;
  height: 60px;
  width: 60px;
  background-repeat: no-repeat;
  background-position: center; }

.white {
  background-image: url(../../images/menu_open_white.svg); }

#home {
  position: relative;
  height: 700px;
  width: auto;
  text-align: center; }
  #home .circle {
    margin-top: 0; }

.circle {
  width: auto;
  height: auto;
  text-align: center;
  display: inline-block;
  margin-top: 75px; }

.soaring_balls_syndicate_circle {
  width: 550px;
  height: 550px; }

.arrow_down_pure > img {
  cursor: pointer;
  padding: 5px; }

#intro {
  width: 100%;
  height: auto;
  position: relative;
  margin-bottom: 100px; }

#intro1 {
  width: 100%;
  height: 700px;
  background-color: black; }

#intro2 {
  width: 100%;
  height: 700px;
  background-image: url(../../images/grain.jpg);
  background-repeat: repeat;
  background-position: 0 0;
  -webkit-animation: noiseAnim 0.5s infinite linear alternate;
  -moz-animation: noiseAnim 0.5s infinite linear alternate;
  -o-animation: noiseAnim 0.5s infinite linear alternate;
  animation: noiseAnim 0.5s infinite linear alternate; }

#works {
  position: relative;
  width: 100%;
  height: 1000px;
  background-color: white; }

.video_wrapper {
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 30%;
  text-align: center; }
  .video_wrapper #hands {
    width: 100%;
    height: 100%; }
  .video_wrapper video {
    height: 100%; }

#left {
  text-align: left; }

#right {
  text-align: right; }

.menu_div {
  position: relative;
  background-color: transparent;
  width: 50%;
  height: 30%;
  display: inline-block;
  cursor: pointer; }
  .menu_div h3 {
    opacity: 0;
    padding: 30px 130px;
    font-size: 15px;
    font-family: Sans;
    text-transform: lowercase; }
  .menu_div:hover h3 {
    opacity: 1; }

.handed {
  outline: solid 5px #FF3399; }
  .handed h3 {
    opacity: 1; }

.works_wrapper {
  width: 100%;
  height: 60%;
  background-color: white;
  text-align: left;
  overflow: hidden; }

.title h1 {
  margin: 0;
  font-size: 45px;
  font-weight: 700;
  border-bottom: 5px solid black;
  padding-bottom: 30px;
  margin-bottom: 30px;
  font-family: Sans; }
.title span {
  display: inline-block;
  margin-bottom: 30px;
  font-size: 16px;
  letter-spacing: 3px;
  font-family: "Inconsolata";
  text-transform: uppercase; }

.wrapper {
  position: relative;
  width: 100%;
  padding: 0 60px;
  box-sizing: border-box; }

.project_list {
  position: relative;
  width: 100%;
  height: auto; }

.project_list_collab {
  position: relative;
  height: 100%;
  transition: 0.5s;
  -webkit-transform: translateX(150%); }
  .project_list_collab:before {
    content: "";
    display: table; }
  .project_list_collab .title {
    margin-top: 100px;
    width: 65%;
    text-align: right;
    margin-right: 35%;
    transition: 0.5s; }

.project_list_choreo {
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  transition: 0.5s;
  transform: translateX(0); }
  .project_list_choreo:before {
    content: "";
    display: table; }
  .project_list_choreo .title {
    margin-top: 100px;
    width: 65%;
    text-align: left;
    margin-left: 35%;
    transition: 0.5s; }

article {
  position: relative;
  width: 100%;
  height: auto;
  overflow: hidden;
  margin-top: -1px; }
  article:first-child .info_main {
    border-top: solid 1px black; }

.wrapper_work {
  padding: 0 60px;
  box-sizing: border-box;
  position: relative; }

.proj_wrapper {
  position: relative;
  width: 100%; }
  .proj_wrapper:before, .proj_wrapper:after {
    content: "";
    display: table; }

.proj_link {
  top: 0;
  left: 0;
  position: absolute;
  display: block;
  width: 65%;
  margin-left: 35%;
  left: -60px;
  height: 100%;
  z-index: 100; }

.info_main {
  position: relative;
  display: inline-block;
  width: 65%;
  height: 100%;
  margin-left: 35%;
  vertical-align: middle;
  padding: 25px 0;
  box-sizing: border-box;
  border-bottom: solid 1px black; }

.main_title {
  font-size: 30px;
  font-weight: 700;
  font-family: "Source Sans Pro"; }

.main_number {
  position: absolute;
  top: 45%;
  left: -50px;
  height: 100%;
  display: inline-block;
  font-family: "Inconsolata"; }

.info_link {
  position: absolute;
  display: inline-block;
  width: 65%;
  height: 100%;
  margin-left: 35%;
  top: 0;
  left: 0;
  vertical-align: middle;
  z-index: 250;
  pointer-events: none; }

.info_link_wrapper {
  position: relative;
  width: 30%;
  height: 100%;
  margin-left: 70%; }

.link_year {
  position: absolute;
  display: block;
  top: 50%;
  font-family: "Inconsolata";
  margin-top: -8px;
  text-align: right;
  transition: 0.3s;
  z-index: 160; }

.link_project {
  position: relative;
  display: block;
  width: 100%;
  transition: transform 0.3s;
  white-space: nowrap;
  font-family: "Inconsolata";
  letter-spacing: 3px;
  text-transform: uppercase;
  top: 50%;
  -webkit-transform: translate(0, -50%); }

.project_view {
  color: white;
  opacity: 0;
  width: 60%; }

.project_arrow {
  position: relative;
  width: 40%;
  display: inline-block;
  text-indent: 150%;
  overflow: hidden;
  white-space: nowrap;
  background-image: url(../../images/arrow_right.svg);
  background-position: center right;
  background-repeat: no-repeat; }
  .project_arrow:before {
    position: absolute;
    content: "";
    display: inline-block;
    line-height: 1;
    top: 50%;
    right: 0; }

.info_detail {
  position: absolute;
  width: 100%;
  height: 0%;
  top: 0;
  overflow: hidden;
  background-color: #FF3399;
  z-index: 200;
  pointer-events: none;
  width: 120%;
  left: -60px;
  color: white; }

.detail_title {
  float: left;
  clear: none;
  margin: 0;
  margin-left: 1.6%;
  margin-right: 2%;
  width: 30%;
  font-family: Sans;
  font-weight: 700;
  font-size: 35px;
  height: 100%;
  padding: 35px 0 10px;
  transition: transform 0.3s;
  text-align: center; }

.detail_wrapper {
  float: left;
  clear: none;
  position: relative;
  display: inline-block;
  margin: 0;
  width: 65%;
  height: 100%;
  font-size: 15px;
  padding-top: 25px;
  box-sizing: border-box;
  transition: transform 0.3s; }

.detail_category {
  float: left;
  clear: none;
  width: 30%;
  margin-right: 4%;
  height: 100%; }

.detail_music {
  float: left;
  clear: none;
  height: 100%; }

.top {
  position: relative;
  margin-bottom: 15px;
  padding-top: 10px;
  font-family: "Inconsolata";
  letter-spacing: 3px;
  text-transform: uppercase; }

.bot {
  position: relative;
  text-transform: uppercase;
  font-family: "Inconsolata";
  font-weight: 600; }

.active a {
  width: 100%;
  margin: 0;
  left: 0; }
.active .detail_title {
  -webkit-transform: translateY(-10px); }
.active .detail_wrapper {
  -webkit-transform: translateY(-16px); }
.active .link_year {
  -webkit-transform: translateY(-15px);
  color: white; }
.active .project_view {
  opacity: 1; }
.active .link_project {
  -webkit-transform: translateY(8px); }

.project_list_collab .proj_link {
  top: 0;
  left: 0;
  position: absolute;
  display: block;
  width: 65%;
  margin-left: 0;
  margin-right: 35%;
  left: 60px;
  height: 100%;
  z-index: 100; }
.project_list_collab .info_main {
  position: relative;
  display: inline-block;
  width: 65%;
  height: 100%;
  margin-left: 0;
  margin-right: 35%;
  text-align: right; }
.project_list_collab .main_number {
  top: 45%;
  right: -50px; }
.project_list_collab .info_link {
  width: 65%;
  height: 100%;
  margin-left: 0;
  margin-right: 35%;
  top: 0;
  left: 0; }
.project_list_collab .info_link_wrapper {
  width: 30%;
  height: 100%;
  margin-left: 0;
  margin-right: 70%; }
.project_list_collab .link_year {
  right: 0; }
.project_list_collab .project_arrow {
  width: 40%;
  background-image: url(../../images/arrow_left.svg);
  background-position: center left; }
  .project_list_collab .project_arrow:before {
    position: absolute;
    content: "";
    display: inline-block;
    line-height: 1;
    top: 50%;
    right: 0; }
.project_list_collab .info_detail {
  left: 0;
  left: -147px; }
.project_list_collab .detail_title {
  float: left;
  clear: none;
  margin: 0;
  margin-left: 1.6%;
  margin-right: 2%;
  width: 30%; }
.project_list_collab .detail_wrapper {
  float: left;
  clear: none;
  margin: 0;
  width: 65%; }
.project_list_collab .detail_category {
  float: right;
  clear: none;
  width: 30%;
  margin-right: 0;
  margin-left: 4%;
  text-align: right; }
.project_list_collab .detail_music {
  float: right;
  clear: none;
  text-align: right; }

#clients {
  width: 100%;
  position: relative;
  height: 700px;
  background: linear-gradient(-124deg, #eaff00 0%, #7afa8b 100%);
  text-align: center; }
  #clients .circle {
    margin-top: 75px; }

@-webkit-keyframes noiseAnim {
  0% {
    background-position: 10px 200px; }
  20% {
    background-position: -50px 0; }
  40% {
    background-position: 100px -10px; }
  60% {
    background-position: 0 -150px; }
  80% {
    background-position: -100px -30px; }
  100% {
    background-position: 160px -60px; } }
@-moz-keyframes noiseAnim {
  0% {
    background-position: 10px 200px; }
  20% {
    background-position: -50px 0; }
  40% {
    background-position: 100px -10px; }
  60% {
    background-position: 0 -150px; }
  80% {
    background-position: -100px -30px; }
  100% {
    background-position: 160px -60px; } }
@-o-keyframes noiseAnim {
  0% {
    background-position: 10px 200px; }
  20% {
    background-position: -50px 0; }
  40% {
    background-position: 100px -10px; }
  60% {
    background-position: 0 -150px; }
  80% {
    background-position: -100px -30px; }
  100% {
    background-position: 160px -60px; } }
@keyframes noiseAnim {
  0% {
    background-position: 10px 200px; }
  20% {
    background-position: -50px 0; }
  40% {
    background-position: 100px -10px; }
  60% {
    background-position: 0 -150px; }
  80% {
    background-position: -100px -30px; }
  100% {
    background-position: 160px -60px; } }
#about {
  width: 100%;
  height: 700px;
  position: relative;
  height: 700px;
  background-color: black; }

#service {
  width: 100%;
  position: relative;
  height: 700px;
  background-color: black;
  text-align: center;
  background-image: url(../../images/grain.jpg);
  background-repeat: repeat;
  background-position: 0 0;
  -webkit-animation: noiseAnim 0.5s infinite linear alternate;
  -moz-animation: noiseAnim 0.5s infinite linear alternate;
  -o-animation: noiseAnim 0.5s infinite linear alternate;
  animation: noiseAnim 0.5s infinite linear alternate; }

#contact {
  width: 100%;
  position: relative;
  height: 700px;
  background-color: white;
  text-align: center; }
  #contact .soaring_balls_syndicate_circle {
    width: 675px; }

.contact_link_wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 300px;
  height: 100px;
  background-color: black; }

/*# sourceMappingURL=soaring_balls_syndicate.css.map */
