body {
  font-family: Roboto;
  -webkit-font-smoothing: antialiased; }

.menu_big {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-image: url(../../images/grain.jpg);
  background-repeat: repeat;
  background-position: 0 0;
  -webkit-animation: noiseAnim 0.5s infinite linear alternate;
  -moz-animation: noiseAnim 0.5s infinite linear alternate;
  -o-animation: noiseAnim 0.5s infinite linear alternate;
  animation: noiseAnim 0.5s infinite linear alternate;
  opacity: 0;
  text-align: center; }
  .menu_big ul {
    display: inline-block;
    position: relative; }

.color1 {
  color: #eaff00; }

.color2 {
  color: #dafe14; }

.color3 {
  color: #c4fd2f; }

.color4 {
  color: #aafc50; }

.color5 {
  color: #85fa7d; }

.color6 {
  color: #5fe8ad; }

.color7 {
  color: #5ef8d2; }

.menu_big_item {
  margin-top: 40px; }
  .menu_big_item > a {
    text-decoration: underline;
    font-size: 30px;
    font-weight: 100;
    font-family: Helvetica Neue; }
  .menu_big_item:hover > a {
    text-decoration: line-through; }
  .menu_big_item img {
    width: 30px; }

.on {
  opacity: 1;
  z-index: 9999; }

.menu_big_toggle {
  position: fixed;
  display: inline-block;
  right: 15px;
  top: 15px;
  width: 60px;
  height: 60px;
  z-index: 99999;
  background-repeat: no-repeat;
  background-image: url(../../images/menu_open.svg);
  background-position: center; }

.menu_close {
  background-image: url(../../images/menu_close.svg);
  right: 30px;
  top: 15px;
  position: absolute;
  display: inline-block;
  height: 60px;
  width: 60px;
  background-repeat: no-repeat;
  background-position: center; }

.white {
  background-image: url(../../images/menu_open_white.svg); }

#home {
  position: relative;
  height: 700px;
  width: auto;
  text-align: center; }
  #home .circle {
    margin-top: 0; }

.circle {
  width: auto;
  height: auto;
  text-align: center;
  display: inline-block;
  margin-top: 75px; }

.soaring_balls_syndicate_circle {
  width: 550px;
  height: 550px; }

.arrow_down_pure > img {
  cursor: pointer;
  padding: 5px; }

#intro {
  width: 100%;
  height: auto;
  position: relative; }

#intro1 {
  width: 100%;
  height: 700px;
  background-color: black; }

#intro2 {
  width: 100%;
  height: 700px;
  background-image: url(../../images/grain.jpg);
  background-repeat: repeat;
  background-position: 0 0;
  -webkit-animation: noiseAnim 0.5s infinite linear alternate;
  -moz-animation: noiseAnim 0.5s infinite linear alternate;
  -o-animation: noiseAnim 0.5s infinite linear alternate;
  animation: noiseAnim 0.5s infinite linear alternate; }

#works {
  position: relative;
  width: 100%;
  height: 700px;
  background-color: white;
  text-align: center; }
  #works .soaring_balls_syndicate_circle {
    width: 675px; }

.works_link_wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 300px;
  height: 100px;
  background-color: black; }
  .works_link_wrapper:hover text {
    fill: #666; }

#clients {
  width: 100%;
  position: relative;
  height: 700px;
  background: linear-gradient(-124deg, #eaff00 0%, #7afa8b 100%);
  text-align: center; }
  #clients .circle {
    margin-top: 75px; }

@-webkit-keyframes noiseAnim {
  0% {
    background-position: 10px 200px; }
  20% {
    background-position: -50px 0; }
  40% {
    background-position: 100px -10px; }
  60% {
    background-position: 0 -150px; }
  80% {
    background-position: -100px -30px; }
  100% {
    background-position: 160px -60px; } }
@-moz-keyframes noiseAnim {
  0% {
    background-position: 10px 200px; }
  20% {
    background-position: -50px 0; }
  40% {
    background-position: 100px -10px; }
  60% {
    background-position: 0 -150px; }
  80% {
    background-position: -100px -30px; }
  100% {
    background-position: 160px -60px; } }
@-o-keyframes noiseAnim {
  0% {
    background-position: 10px 200px; }
  20% {
    background-position: -50px 0; }
  40% {
    background-position: 100px -10px; }
  60% {
    background-position: 0 -150px; }
  80% {
    background-position: -100px -30px; }
  100% {
    background-position: 160px -60px; } }
@keyframes noiseAnim {
  0% {
    background-position: 10px 200px; }
  20% {
    background-position: -50px 0; }
  40% {
    background-position: 100px -10px; }
  60% {
    background-position: 0 -150px; }
  80% {
    background-position: -100px -30px; }
  100% {
    background-position: 160px -60px; } }
#about {
  width: 100%;
  height: 700px;
  position: relative;
  height: 700px;
  background-color: black; }

#service {
  width: 100%;
  position: relative;
  height: 700px;
  background-color: black;
  text-align: center;
  background-image: url(../../images/grain.jpg);
  background-repeat: repeat;
  background-position: 0 0;
  -webkit-animation: noiseAnim 0.5s infinite linear alternate;
  -moz-animation: noiseAnim 0.5s infinite linear alternate;
  -o-animation: noiseAnim 0.5s infinite linear alternate;
  animation: noiseAnim 0.5s infinite linear alternate; }

#contact {
  width: 100%;
  position: relative;
  height: 700px;
  background-color: white;
  text-align: center; }
  #contact .soaring_balls_syndicate_circle {
    width: 675px; }

.contact_link_wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 300px;
  height: 100px;
  background-color: black; }

/*# sourceMappingURL=soaring_balls_syndicate.css.map */
