@font-face {
  font-family: proxima-nova;
  src: url(../../fonts/ProximaNova/ProximaNovaRegular.otf) format("opentype"); }
@font-face {
  font-family: proxima-nova;
  font-weight: light;
  src: url(../../fonts/ProximaNova/ProximaNovaLight.otf) format("opentype"); }
@font-face {
  font-family: proxima-nova;
  font-weight: bold;
  src: url(../../fonts/ProximaNova/ProximaNovaBold.otf) format("opentype"); }
body {
  -webkit-font-smoothing: antialiased;
  font-family: proxima-nova; }

.menu_wrapper {
  font-family: Neue;
  position: relative;
  width: 100%;
  height: 10%;
  background-color: #f9f9f9;
  z-index: 1000;
  text-align: center; }

.topside_menu {
  position: relative;
  list-style-type: none;
  display: inline-block;
  width: 50%;
  margin: 0;
  height: 100%; }

.menu_items {
  display: inline-block;
  width: 33.3%;
  height: 100%; }

.menu_items > a {
  padding: 30px 0;
  box-sizing: border-box;
  display: inline-block;
  width: 100%;
  height: 70px;
  text-align: center;
  text-decoration: none;
  color: #777;
  font-size: 10px;
  text-transform: uppercase;
  word-spacing: 2px;
  transition: 0.3s; }
  .menu_items > a:hover {
    color: black; }

@media(max-width: 1050px) {
  .topside_menu {
    width: 80%; } }
@media(max-width: 768px) {
  .topside_menu {
    width: 100%; } }
@media(max-width: 540px) {
  li.menu_items a {
    font-size: 7px; } }
#works {
  position: relative;
  width: 100%;
  height: 1000px;
  background-color: white; }

.video_wrapper {
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 30%;
  text-align: center; }

#hands {
  width: 100%;
  height: 100%; }

#left {
  text-align: left; }

#right {
  text-align: right; }

.menu_div {
  position: relative;
  background-color: transparent;
  width: 50%;
  height: 30%;
  display: inline-block;
  cursor: pointer; }
  .menu_div:hover h3 {
    opacity: 1; }

.menu_div_title {
  opacity: 0;
  padding: 30px 130px;
  font-size: 15px;
  text-transform: lowercase; }

.handed {
  outline: solid 5px #FF3399; }
  .handed .menu_div_title {
    opacity: 1; }

.works_wrapper {
  width: 100%;
  height: 60%;
  background-color: white;
  text-align: left;
  overflow: hidden; }

.project_list_title {
  margin: 0;
  font-size: 45px;
  font-weight: 700;
  border-bottom: 5px solid black;
  padding-bottom: 30px;
  margin-bottom: 30px; }

.under_title_text {
  display: inline-block;
  margin-bottom: 30px;
  font-size: 16px;
  letter-spacing: 3px;
  text-transform: uppercase; }

.wrapper {
  position: relative;
  width: 100%;
  padding: 0 60px;
  box-sizing: border-box; }

.project_list {
  position: relative;
  width: 100%;
  height: auto; }

.project_list_collab {
  position: relative;
  height: 100%;
  transition: 0.5s;
  -webkit-transform: translateX(150%); }
  .project_list_collab:before {
    content: "";
    display: table; }

.project_list_choreo {
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  transition: 0.5s;
  transform: translateX(0); }
  .project_list_choreo:before {
    content: "";
    display: table; }

.title {
  margin-top: 100px;
  width: 65%;
  text-align: left;
  margin-left: 35%;
  transition: 0.5s; }

.text_right {
  text-align: right;
  margin-left: 0;
  margin-right: 35%; }

article {
  position: relative;
  width: 100%;
  height: auto;
  overflow: hidden;
  margin-top: -1px; }
  article:first-child .info_main {
    border-top: solid 1px black; }

.wrapper_work {
  padding: 0 60px;
  box-sizing: border-box;
  position: relative; }

.proj_wrapper {
  position: relative;
  width: 100%; }
  .proj_wrapper:before, .proj_wrapper:after {
    content: "";
    display: table; }

.proj_link {
  top: 0;
  left: 0;
  position: absolute;
  display: block;
  width: 65%;
  margin-left: 35%;
  left: -60px;
  height: 100%;
  z-index: 100; }

.info_main {
  position: relative;
  display: inline-block;
  width: 65%;
  height: 100%;
  margin-left: 35%;
  vertical-align: middle;
  padding: 25px 0;
  box-sizing: border-box;
  border-bottom: solid 1px black; }

.main_title {
  font-size: 30px;
  font-weight: 700; }

.main_number {
  position: absolute;
  top: 45%;
  left: -50px;
  height: 100%;
  display: inline-block; }

.info_link {
  position: absolute;
  display: inline-block;
  width: 65%;
  height: 100%;
  margin-left: 35%;
  top: 0;
  left: 0;
  vertical-align: middle;
  z-index: 250;
  pointer-events: none; }

.info_link_wrapper {
  position: relative;
  width: 30%;
  height: 100%;
  margin-left: 70%; }

.link_year {
  position: absolute;
  display: block;
  top: 50%;
  margin-top: -8px;
  text-align: right;
  transition: 0.3s;
  z-index: 160; }

.link_project {
  position: relative;
  display: block;
  width: 100%;
  transition: transform 0.3s;
  white-space: nowrap;
  letter-spacing: 3px;
  text-transform: uppercase;
  top: 50%;
  -webkit-transform: translate(0, -50%); }

.project_view {
  display: inline-block;
  font-size: 14px;
  color: white;
  opacity: 0;
  width: 60%; }

.project_arrow {
  position: relative;
  width: 40%;
  display: inline-block;
  text-indent: 150%;
  overflow: hidden;
  white-space: nowrap;
  background-image: url(../../images/arrow_right.svg);
  background-position: center right;
  background-repeat: no-repeat; }
  .project_arrow:before {
    position: absolute;
    content: "";
    display: inline-block;
    line-height: 0;
    top: 50%;
    right: 0; }

.info_detail {
  position: absolute;
  width: 100%;
  height: 0%;
  top: 0;
  overflow: hidden;
  background-color: #FF3399;
  z-index: 200;
  pointer-events: none;
  width: 120%;
  left: -60px;
  color: white; }

.detail_title {
  float: left;
  clear: none;
  margin: 0;
  margin-left: 1.6%;
  margin-right: 2%;
  width: 30%;
  font-weight: 700;
  font-size: 35px;
  height: 100%;
  padding: 35px 0 10px;
  transition: transform 0.3s;
  text-align: center; }

.detail_wrapper {
  float: left;
  clear: none;
  position: relative;
  display: inline-block;
  margin: 0;
  width: 65%;
  height: 100%;
  font-size: 15px;
  padding-top: 25px;
  box-sizing: border-box;
  transition: transform 0.3s; }

.detail_category {
  float: left;
  clear: none;
  width: 30%;
  margin-right: 4%;
  height: 100%; }

.detail_music {
  float: left;
  clear: none;
  height: 100%; }

.top {
  position: relative;
  margin-bottom: 15px;
  padding-top: 10px;
  letter-spacing: 3px;
  text-transform: uppercase; }

.bot {
  position: relative;
  text-transform: uppercase;
  font-weight: 600; }

.active a {
  width: 100%;
  margin: 0;
  left: 0; }
.active .detail_title {
  -webkit-transform: translateY(-10px); }
.active .detail_wrapper {
  -webkit-transform: translateY(-16px); }
.active .link_year {
  -webkit-transform: translateY(-15px);
  color: white; }
.active .project_view {
  opacity: 1; }
.active .link_project {
  -webkit-transform: translateY(8px); }

.project_list_collab .proj_link {
  top: 0;
  left: 0;
  position: absolute;
  display: block;
  width: 65%;
  margin-left: 0;
  margin-right: 35%;
  left: 60px;
  height: 100%;
  z-index: 100; }
.project_list_collab .info_main {
  position: relative;
  display: inline-block;
  width: 65%;
  height: 100%;
  margin-left: 0;
  margin-right: 35%;
  text-align: right; }
.project_list_collab .main_number {
  top: 45%;
  right: -50px; }
.project_list_collab .info_link {
  width: 65%;
  height: 100%;
  margin-left: 0;
  margin-right: 35%;
  top: 0;
  left: 0; }
.project_list_collab .info_link_wrapper {
  width: 30%;
  height: 100%;
  margin-left: 0;
  margin-right: 70%; }
.project_list_collab .link_year {
  right: 0; }
.project_list_collab .project_arrow {
  width: 40%;
  background-image: url(../../images/arrow_left.svg);
  background-position: center left; }
  .project_list_collab .project_arrow:before {
    position: absolute;
    content: "";
    display: inline-block;
    line-height: 1;
    top: 50%;
    right: 0; }
.project_list_collab .info_detail {
  left: 0;
  left: -147px; }
.project_list_collab .detail_title {
  float: left;
  clear: none;
  margin: 0;
  margin-left: 1.6%;
  margin-right: 2%;
  width: 30%; }
.project_list_collab .detail_wrapper {
  float: left;
  clear: none;
  margin: 0;
  width: 65%; }
.project_list_collab .detail_category {
  float: right;
  clear: none;
  width: 30%;
  margin-right: 0;
  margin-left: 4%;
  text-align: right; }
.project_list_collab .detail_music {
  float: right;
  clear: none;
  text-align: right; }

@media(max-width: 1050px) {
  .main_title {
    font-size: 22px; }

  .top, .bot, .link_year {
    font-size: 12px; }

  .detail_music {
    display: none; }

  .project_view {
    font-size: 0; }

  .detail_title {
    width: 45%;
    font-size: 25px; }

  .detail_wrapper {
    width: 40%; }

  .link_year {
    margin-top: -5px; }

  .active .link_year {
    -webkit-transform: translateY(0px);
    color: white; }

  .active .link_project {
    -webkit-transform: translateY(-8px); }

  .project_list_title {
    font-size: 35px; }

  .info_main, .title, .proj_link {
    width: 80%;
    margin-left: 20%; }

  .project_list_collab .info_main, .project_list_collab .title, .project_list_collab .proj_link {
    width: 80%;
    margin-left: 0;
    margin-right: 20%; }
  .project_list_collab .detail_wrapper {
    width: 50%; }
  .project_list_collab .detail_title {
    width: 45%; }
  .project_list_collab .info_detail {
    left: -70px; }
  .project_list_collab .detail_category {
    width: 50%; } }
@media(max-width: 768px) {
  .info_main, .title, .proj_link {
    width: 140%;
    margin-left: 0; }

  .info_detail {
    left: -30px; }

  .detail_title {
    text-align: left;
    padding: 20px 0 10px;
    margin-left: 12%;
    font-size: 18px; }

  .detail_category {
    display: none; }

  .info_link_wrapper {
    width: 45%;
    margin-left: 55%; }

  .info_main {
    padding: 10px 0; }

  .wrapper_work, .wrapper {
    padding: 0 20px; }

  .main_number {
    position: relative;
    left: 0;
    margin-right: 10px;
    font-size: 12px; }

  .main_title {
    display: inline-block;
    font-size: 18px; }

  .project_list_collab .info_main, .project_list_collab .title, .project_list_collab .proj_link {
    width: 100%;
    margin-right: 0; }
  .project_list_collab .proj_link {
    left: 0px; }
  .project_list_collab .info_link_wrapper {
    width: 45%;
    margin-left: 0;
    margin-right: 55%; }
  .project_list_collab .main_number {
    margin-left: 10px;
    margin-right: 0px; }
  .project_list_collab .detail_title {
    text-align: right;
    margin-right: 12%;
    float: right; }
  .project_list_collab .detail_wrapper {
    display: none; } }
@media(max-width: 540px) {
  .menu_div_title {
    padding: 30px; }

  .link_year {
    display: none; }

  .detail_title {
    width: 70%; }

  .project_list_collab .info_detail {
    left: -30px; } }

/*# sourceMappingURL=works.css.map */
