extends ../../layout

block head
    link(rel="stylesheet", href="/stylesheets/ballriders_creative_group/menu_items-min.css")
block main
    header
        include ../menu
    .section_title 
        h1.title Bubblips
        .year _16
        .short_description A serie of photos implementing the fusion of make up art and bubblegum.
    .img_section
        .img_wrapper
            img(src="../../images/bubblips/IMG_1833.jpg", alt="").big_pic
            img(src="../../images/bubblips/IMG_1833_min.jpg", alt="").small_pic
        .img_wrapper
            img(src="../../images/bubblips/IMG_1811.jpg", alt="").big_pic
            img(src="../../images/bubblips/IMG_1811_min.jpg", alt="").small_pic
        .img_wrapper
            img(src="../../images/bubblips/IMG_1834.jpg", alt="").big_pic
            img(src="../../images/bubblips/IMG_1834_min.jpg", alt="").small_pic
        .img_wrapper
            img(src="../../images/bubblips/IMG_1829.jpg", alt="").big_pic
            img(src="../../images/bubblips/IMG_1829_min.jpg", alt="").small_pic
        .img_wrapper
            img(src="../../images/bubblips/IMG_1817.jpg", alt="").big_pic
            img(src="../../images/bubblips/IMG_1817_min.jpg", alt="").small_pic
    .description_section
        .description_title Bubblips
        .row
            .col-xs-12.col-sm-12.col-md-12.col-lg-6.long_description 
                p Project was inspired by japanese bubblegum vending machine in Galeria shopping mall, Saint-Petersburg city. The main idea was to get shots of bubblegum gluing the lips and looking like some iced water or cliffs outhgrowth when opening mouth.
                p Acid pink&purple in fusion with tic-tac candies, bubblegum material and adorable make up lead the final product to be understood as different instanses of euphoria. Photoshoot was held in pitch black home-studio with only two iPhone 5s flashlights, sacrificing the quality in order to get the right vibe.
                p.underlines _______________________
                p Model & Make Up:
                    a(href="https://www.instagram.com/farrellina/" target="_blank").insta_link Alisha Farrellina
                p Photographer:
                    a(href="https://www.instagram.com/ponchikz/" target="_blank").insta_link Ponchik
                p Retouch:
                    a(href="https://www.instagram.com/farrellina/" target="_blank").insta_link Alsiha Farrellina
                    | ,
                    a(href="https://www.instagram.com/vaggi_tsss/" target="_blank").insta_link Vagan Manukian
                    
                    
                    
    .arrow_up
      img(src="../../images/arrow_up_pure.svg", alt="").arrow_img
block footer
    include ../footer
    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css")
      
block js
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js")
    script(src="/javascripts/menu_item.js")