extends ../layout

block head
    link(rel="stylesheet", href="stylesheets/ballriders_creative_group/ballriders_creative_group-min.css")
block main
    include ../topside_menu_mobile.jade
    header
        .topside_menu_mobile_toggle
        .main_header
            .menu_toggle_black.hidden-lg.hidden-md
            .menu_close.hidden-lg.hidden-md
            ul.menu.hidden-sm.hidden-xs
                li.menu_item
                  a(href='/ballriders_creative_group/digital') Digital
                li.menu_item.comming_soon
                  a() Fashion
                li.menu_item.comming_soon
                  a() Web
                li.menu_item.comming_soon
                  a() Music
            ul.mobile_menu.hidden-lg.hidden-md
                li.mobile_menu_item
                  a(href='/ballriders_creative_group/digital').mobile_menu_link Digital
                li.mobile_menu_item
                  a().mobile_menu_link Fashion 
                      .comming_soon_mobile (comming soon)
                li.mobile_menu_item
                  a().mobile_menu_link Web 
                      .comming_soon_mobile (comming soon)
                li.mobile_menu_item
                  a().mobile_menu_link Music 
                      .comming_soon_mobile (comming soon)
    section.intro
    .arrow_down
      img(src="../../images/arrow_down_pure.svg", alt="").arrow_img
    
    section.projects
        .container-fluid
          .row
            .col-xs-12.col-sm-6.col-md-6.col-lg-3
              .project_wrapper
                a(href="/ballriders_creative_group/digital/bubblips").project_link
                  img(src="../../images/IMG_1833.jpg", alt="")
                  .project_description
                    .project_title 'Bubblips'
                    .year _16
            .col-xs-12.col-sm-6.col-md-6.col-lg-3
              .project_wrapper
                a().project_link
                  img(src="../../images/IMG_8317_min.jpg", alt="")
                  .project_description
                    .project_title 'Art Is In Our Hands'
                    .year COMMING SOON

    .arrow_up
      img(src="../../images/arrow_up_pure.svg", alt="").arrow_img
block footer
    .main_footer
        .name Vagan Manukian
        .who_is CEO of Ballriders Creative Group, founder of Soaring Balls Syndicate. Front-end developer and web-designer.
        .link_section
            a(href="https://www.instagram.com/vaggi_tsss/" target="_blank").link_icon
                img(src="../../images/insta_logo.svg", alt="").link_icon_img
            a(href="https://www.facebook.com/vaggi.lapedi?ref=bookmarks" target="_blank").link_icon
                img(src="../../images/fb_logo.svg", alt="").link_icon_img
            a(href="https://vk.com/vaggi" target="_blank").link_icon
                img(src="../../images/vk_logo.svg", alt="").link_icon_img
    .all_rights_reserved ©2016 BALLRIDERS. All rights reserved. No part of this site may be reproduced without permission.
    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css")
      
block js
    script(src="bootstrap-3.3.6-dist/js/bootstrap.min.js")
    script(src="javascripts/ballriders_creative_group.js")