extends ../layout

block head
    link(rel="stylesheet", href="/stylesheets/ballriders_creative_group/menu_items-min.css")
block main
    header
        include menu
    h1.section_title Digital
    
    section.projects
        .container-fluid
          .row
            .col-xs-12.col-sm-6.col-md-6.col-lg-3
              .project_wrapper
                a(href="/ballriders_creative_group/digital/bubblips").project_link
                  img(src="../../images/bubblips/IMG_1833.jpg", alt="")
                  .project_description
                    .project_title 'Bubblips'
                    .year _16
            .col-xs-12.col-sm-6.col-md-6.col-lg-3
              .project_wrapper
                a().project_link
                  img(src="../../images/IMG_8317_min.jpg", alt="")
                  .project_description
                    .project_title 'Art Is In Our Hands'
                    .year COMMING SOON

    .arrow_up
      img(src="../../images/arrow_up_pure.svg", alt="").arrow_img
block footer
    include footer
    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css")
block js
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js")
    script(src="/javascripts/menu_item.js")