extends ../layout

block head
    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css")
    link(rel="stylesheet", href="/stylesheets/ballriders_creative_group/menu_items-min.css")
block main
    header
        include menu
    h1.section_title Fashion
    
    section.projects
        .container-fluid
          .row
            .col-xs-12.col-sm-6.col-md-6.col-lg-3
              .project_wrapper
                a(href="").project_link
                  img(src="../../images/1.png", alt="")
                  .project_description
                    .project_title Women Bag
                    .year _16
            .col-xs-12.col-sm-6.col-md-6.col-lg-3
              .project_wrapper
                a(href="").project_link
                  img(src="../../images/IMG_7468.JPG", alt="")
                  .project_description
                    .project_title Toothbrush
                    .year _16

    .arrow_up
      img(src="../../images/arrow_up_pure.svg", alt="").arrow_img
block footer
    include footer
block js
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js")
    script(src="/javascripts/menu_item.js")