.main_footer
    .name Vagan Manukian
    .who_is CEO of Ballriders Creative Group, founder of Soaring Balls Syndicate. Front-end developer and web-designer.
    .link_section
        a(href="https://www.instagram.com/vaggi_tsss/" target="_blank").link_icon
            img(src="../../images/insta_logo.svg", alt="").link_icon_img
        a(href="https://www.facebook.com/vaggi.lapedi?ref=bookmarks" target="_blank").link_icon
            img(src="../../images/fb_logo.svg", alt="").link_icon_img
        a(href="https://vk.com/vaggi" target="_blank").link_icon
            img(src="../../images/vk_logo.svg", alt="").link_icon_img
.all_rights_reserved ©2016 BALLRIDERS. All rights reserved. No part of this site may be reproduced without permission.