.main_header
    a(href="/ballriders_creative_group").logotype_wrapper
        img(src="../../images/6.svg", alt="")
    .menu_toggle_black.hidden-lg.hidden-md
    .menu_close.hidden-lg.hidden-md
    ul.menu.hidden-sm.hidden-xs
        li.menu_item
          a(href='/ballriders_creative_group/digital') Digital
        li.menu_item.comming_soon
          a() Fashion
        li.menu_item.comming_soon
          a() Web
        li.menu_item.comming_soon
          a() Music
    ul.mobile_menu.hidden-lg.hidden-md
        li.mobile_menu_item
          a(href='/ballriders_creative_group/digital').mobile_menu_link Digital
        li.mobile_menu_item
          a().mobile_menu_link Fashion 
              .comming_soon_mobile (comming soon)
        li.mobile_menu_item
          a().mobile_menu_link Web 
              .comming_soon_mobile (comming soon)
        li.mobile_menu_item
          a().mobile_menu_link Music 
              .comming_soon_mobile (comming soon)
.header_divider