extends ../layout

block head
    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css")
    link(rel="stylesheet", href="/stylesheets/ballride_style/about.css")
    meta(name="keywords" content="freestyle basketball about ballride style choreography ball emotions scalable music-friendly fluent хореография мяч болрайд музыкальность эмоции баскетбольный фристайл")
    meta(name="description" content="Discover everything about Ballride style. Learn about its goals, values and concept.")
block main
  section#about
      h1.ballride_style_title The Way you do it. The Emotions you show
      .ballriders_style_about 
        | Ballride style is an independent branch of Freestyle Basketball culture, that values feeling and musicality in the first place. It’s goal is not only doing hard tricks and gracious transitions with a ball, but also telling a story with the body through the ball. Visualising the lyrics, making moves, that perfectly describe the sound and showing your attitude is one of the most important things in ballride style. 
        br
        | This is not the manual to how act with a ball. This is just a perception, acknowledged by world top freestylers, that can be used for creating your own story. Tutorials only include basic concepts. The rest is up to you.
        br
        a.watch_introduction.comming_soon - watch ballride style introduction video -
  section#why_is_great
      h1.ballride_style_title Simple to flow. Flexible to grow.
      .values_wrapper
          .container-fluid
              .row
                  .col-xs-12.col-sm-4.col-md-4.col-lg-4
                      .why_is_great_wrapper
                          img(src="../images/scalable_color.svg", alt="").why_is_great_icon
                          h3.why_is_great_title Scalable 
                          span.why_is_great_text Based on a wide range of basic moves and using both hands, BALLRIDE helps to combine any moves
                  .col-xs-12.col-sm-4.col-md-4.col-lg-4
                      .why_is_great_wrapper
                          img(src="../images/music_friendly_color.svg", alt="").why_is_great_icon
                          h3.why_is_great_title Music - Friendly
                          span.why_is_great_text Each move is short and quick, which allows you to keep up with a beat while going from one move to another, pausing or freezing or stretching the move
                  .col-xs-12.col-sm-4.col-md-4.col-lg-4
                      .why_is_great_wrapper
                          img(src="../images/fluent_color.svg", alt="").why_is_great_icon
                          h3.why_is_great_title Fluent
                          span.why_is_great_text Excellently structured, all moves are logical, switching from one to another but remaining the same style
    section#subscribe
          .form_wrapper
              input(type="email" placeholder="Enter your e-mail to get latest updates").mail_input
              button.mail_send Subscribe
          .subscription_complete
              | E-mail 
              .email_emphasized
              |  successfully added to list
block js
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js")
    script(src="/javascripts/ballride_style_section.js")