extends ../layout

block head
    link(rel="stylesheet", href="bootstrap-3.3.6-dist/css/bootstrap.min.css")
    link(rel="stylesheet", href="/stylesheets/ballride_style/ballride_style.css")
block main
  include ../topside_menu_mobile.jade
  section#intro
    .topside_menu_mobile_toggle
    h1#logo Ballride Style    
    span#hello
        span.bold Hello. 
        span You're about to dive into the ballride style.
  section#tutorials
      h1.tutorials_header Watch Tutorials
      .tutorials_wrapper
          a.tutorial_link
              h3.tutorial_title Introduction
              span.tutorial_description - available on October 1 -
          a.tutorial_link
              h3.tutorial_title tutorial first
              span.tutorial_description - available on October 15 -
          a.tutorial_link
              h3.tutorial_title tutorial second
              span.tutorial_description - available on November 2 -
          a.tutorial_link
              h3.tutorial_title tutorial third
              span.tutorial_description - available on November 13 -
  section#subscribe
      .form_wrapper
          input(type="email" placeholder="Enter your e-mail to get latest tutorials").mail_input
          button.mail_send Subscribe
      .subscription_complete
          | E-mail 
          .email_emphasized
          |  successfully added to list
  .bottom_logotype_wrapper
      img(src="../../images/neutral_logo_white.png", alt="")
  .bottom_menu_left
      a.bottom_menu_link(href="/ballride_style/about")
          .bottom_menu_label - About ballride -
  .bottom_menu_right
      a.bottom_menu_link(href="/ballride_style/worldwide")
          .bottom_menu_label - ballride worldwide -
              
block js
    script(src="bootstrap-3.3.6-dist/js/bootstrap.min.js")
    script(src="javascripts/ballride_style.js")