extends ../layout

block head
    link(rel="stylesheet", href="/bootstrap-3.3.6-dist/css/bootstrap.min.css")
    link(rel="stylesheet", href="/stylesheets/ballride_style/people-min.css")
    meta(name="keywords" content="freestyle basketball ballride style choreography ball worldwide people support ballrider sign хореография мяч болрайд знак люди поддержка стиль баскетбольный фристайл")
    meta(name="description" content="People supporting Ballride style.")
block main
    section#people
        h1.ballride_style_title We glad you are with us.
        .container-fluid
            .row.people_row
                .col-xs-12.col-sm-6.col-md-6.col-lg-6
                    .person_info_wrapper
                        img(src="../images/IMG_1519.JPG", alt="").person_info_picture    
                .col-xs-12.col-sm-6.col-md-6.col-lg-6
                    .person_info_wrapper
                        img(src="../images/IMG_1520.JPG", alt="").person_info_picture
            .row.people_row
                .col-xs-12.col-sm-6.col-md-6.col-lg-6
                    .person_info_wrapper
                        img(src="../images/people1.jpg", alt="").person_info_picture    
                .col-xs-12.col-sm-6.col-md-6.col-lg-6
                    .person_info_wrapper
                        img(src="../images/people2.jpg", alt="").person_info_picture         
            .row.people_row
                .col-xs-12.col-sm-6.col-md-6.col-lg-6
                    .person_info_wrapper
                        img(data-src="../images/people3.jpg" src="" alt="").person_info_picture 
                .col-xs-12.col-sm-6.col-md-6.col-lg-6
                    .person_info_wrapper
                        img(data-src="../images/people4.jpg" src="" alt="").person_info_picture            
            .row.people_row
                .col-xs-12.col-sm-6.col-md-6.col-lg-6
                    .person_info_wrapper
                        img(data-src="../images/people5.jpg" src="" alt="").person_info_picture
                .col-xs-12.col-sm-6.col-md-6.col-lg-6
                    .person_info_wrapper
                        img(data-src="../images/people6.jpg" src="" alt="").person_info_picture
    section#subscribe
      .form_wrapper
          input(type="email" placeholder="Enter your e-mail to get latest updates").mail_input
          button.mail_send Subscribe
      .subscription_complete
          | E-mail 
          .email_emphasized
          |  successfully added to list
block js
    script(src="/bootstrap-3.3.6-dist/js/bootstrap.min.js")
    script(src="/javascripts/ballride_style_section.js")
    script(src="/javascripts/jQuery-Plugin-To-Smartly-Load-Images-While-Scrolling-loadScroll/jQuery.loadScroll.js")
    script(src="/javascripts/people.js")