extends ../layout

block head
    link(rel="stylesheet", href="/stylesheets/ballride_style/worldwide.css")
    meta(name="keywords" content="freestyle basketball ballride style choreography ball worldwide people support ballrider sign tutorial хореография мяч болрайд знак туториал обучение стиль баскетбольный фристайл")
    meta(name="description" content="Ballride style is all around the world. See who supports us and learn ballriders sign.")
block main
    section#worldwide
        h1.ballride_style_title Ballwide Worldride
        .ballriders_style_about 
            | More and more people learning about Ballride all around the world. This section is made in order to put them all together who supports this style and freestyle community in general. They are the truest inspiration, that gives us the power to do what we love most. 
            br 
            | It doesnt matter wheather you are freestyle basketball player or not  &nbsp-&nbsp you are always welcome to discover ballride perception and philosophy. Also feel free to leave some feedback about how we can become better at what we do.
            br
            a(href="/ballride_style/people").people - see people supporting Ballride -
    section#how_you_can_help
        .ballride_style_title How can I support?
        .steps.container-fluid
            .row
                .step.col-xs-12.col-sm-12.col-md-12.col-lg-12
                    span.step_number 1
                    span.step_text Frame your fingers into a ballride sign as shown below
            .fingers_tutorial
                img(src="../images/fingers_tutorial.png", alt="")
            .row
                .step.col-xs-12.col-sm-12.col-md-12.col-lg-4
                    span.step_number 2
                    span.step_text Take a full height picture next to a solid wall
                .step.col-xs-12.col-sm-12.col-md-12.col-lg-7
                    span.step_number 3
                    span.step_text 
                        | Send it to 
                        a(href="mailto:weballriders@gmail.com") weballriders@gmail.com 
                        | and we will publish it on the website.
            .row
                .step.col-xs-12.col-sm-12.col-md-12.col-lg-12
                    span.step_number 4
                    span.step_text Don't forget to untangle your fingers, otherwise you will die
    section#subscribe
          .form_wrapper
              input(type="email" placeholder="Enter your e-mail to get latest updates").mail_input
              button.mail_send Subscribe
          .subscription_complete
              | E-mail 
              .email_emphasized
              |  successfully added to list
    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css")
        
block js
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js")
    script(src="/javascripts/ballride_style_section.js")
    script(src="/javascripts/worldwide.js")